.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b1 {
  position: relative;
  height: 90vh;
  z-index: 9;
}
.b1 .swiper-pagination-bullet {
  background: #fff;
  border: 2px solid #fff;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b1 .swiper-pagination-bullet-active {
  background: #695e54;
  border: 2px solid #fff;
}
.b1 .swiper-pagination {
  left: 30px;
}
.b1 .swiper-container {
  width: 100%;
  height: 100%;
}
.b1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
/* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.b1 .swiper-slide.uno {
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.b1 .web-library {
  position: absolute;
  left: 0;
  bottom: 30px;
  display: inline-block;
  z-index: 99;
}
.b1 .web-library img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 650px) {
  .b1 {
    height: 70vh;
  }
  .b1 .fff {
    height: 70vh !important;
  }
  .b1 .web-library {
    width: 110px;
  }
}
