.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b10 {
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.b10 .b4-left {
  width: 40%;
}
.b10 .b4-right {
  width: 60%;
  text-align: left;
  font-size: 16px;
}
.b10 .b4-right h4 {
  font-size: 34px;
  font-family: 'WorkSans-Medium', sans-serif;
  color: #333;
  text-transform: inherit;
  line-height: 1.1;
  margin-bottom: 20px;
}
.b10 .b4-text {
  max-width: 580px;
  margin-left: 7%;
  padding-right: 5%;
}
.b10 .b4-text .b10-nombre {
  font-size: 20px;
  margin-bottom: 0px;
  font-family: 'Cinzel-Regular', sans-serif;
}
.b10 .b4-text .b10-cargo {
  font-size: 16px;
  font-family: 'Cinzel-Regular', sans-serif;
}
@media screen and (max-width: 1080px) {
  .b10 .b4-left {
    width: 50%;
  }
  .b10 .b4-right {
    width: 50%;
  }
  .b10 .b4-right h4 {
    font-size: 28px;
    line-height: 1;
  }
  .b10 .b4-text {
    margin-top: 5%;
  }
}
@media screen and (max-width: 660px) {
  .b10 {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -o-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .b10 .b4-left {
    width: 100%;
  }
  .b10 .b4-right {
    width: 100%;
  }
  .b10 .b4-right h4 {
    font-size: 22px;
    margin-top: 20px;
  }
  .b10 .b4-text {
    margin-bottom: 0;
    margin-left: 5%;
  }
  .b10 .b4-text .b10-nombre {
    font-size: 18px;
  }
  .b10 .b4-text .b10-cargo {
    font-size: 14px;
  }
}
