.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b11 {
  text-align: center;
  background: url("../media/investigaciones/web_library_bg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.b11-box {
  color: #fff;
  display: inline-block;
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.b11-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 75px;
  background: #fff;
}
.b11-box:after {
  content: "";
  position: absolute;
  left: -7px;
  top: 75px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
}
.b11-box p {
  font-family: 'Cinzel-Regular', sans-serif;
  font-size: 57px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  text-align: left;
  margin-right: 50px;
  line-height: 0;
}
.b11-box strong {
  font-family: 'WorkSans-Regular', sans-serif;
}
.b11-box br {
  line-height: 0.9;
}
.b11-box a {
  border: 3px solid #fff;
  display: inline-block;
  vertical-align: middle;
  padding: 25px 40px;
  font-size: 25px;
  border-radius: 5px;
}
@media screen and (max-width: 700px) {
  .b11-box p {
    font-size: 37px;
  }
  .b11-box a {
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  .b11-box {
    padding: 40px 10px;
  }
  .b11-box p {
    margin-bottom: 20px;
    line-height: 1;
  }
  .b11-box br {
    display: none;
  }
  .b11-box a {
    display: block;
  }
}
