.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b12 {
  background: url("../media/servicios/servicios_bg.png") center center no-repeat;
  height: 350px;
}
