.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b13 {
  text-align: center;
}
.b13-header {
  font-size: 0;
  border-radius: 8px;
}
.b13-header li {
  width: 33.333%;
  display: inline-block;
  vertical-align: middle;
}
.b13-header li a {
  display: inline-block;
  width: 100%;
  padding: 25px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #453c37;
  color: #fff;
  font-size: 20px;
  border-right: 1px solid #808080;
  position: relative;
}
.b13-header li a:last-child {
  border-right: none;
}
.b13-header li a:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 20px 0 20px;
  border-color: #453c37 transparent transparent transparent;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
}
.b13-body {
  padding: 80px 0;
  color: #453c37;
  text-align: left;
}
.b13-body h3 {
  font-size: 34px;
  font-family: 'WorkSans-Medium', sans-serif;
  margin-bottom: 40px;
}
.b13-body p {
  font-size: 18px;
  font-family: 'WorkSans-Regular', sans-serif;
}
@media screen and (max-width: 600px) {
  .b13-header li {
    width: 100%;
    border-top: 1px solid #fff;
  }
  .b13-header li a {
    padding: 15px 0;
    font-size: 16px;
  }
  .b13-header li a:before {
    display: none;
  }
  .b13-body {
    padding: 30px 0;
  }
  .b13-body h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .b13-body p {
    font-size: 14px;
  }
}
.servicios-dace .b13 {
  font-size: 0;
}
.servicios-dace .b13-header {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.servicios-dace .b13-header li {
  display: block;
  width: 100%;
}
.servicios-dace .b13-header li:hover a:after,
.servicios-dace .b13-header li.ui-state-active a:after {
  width: 20px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.servicios-dace .b13-header a {
  background: none;
  text-align: left;
  background: none;
  color: #282c56;
  font-size: 16px;
  padding: 0;
  margin-bottom: 10px;
  font-family: 'WorkSans-Regular', sans-serif;
}
.servicios-dace .b13-header a:before {
  display: none;
}
.servicios-dace .b13-header a:after {
  content: "";
  background: #4952b8;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 3px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.servicios-dace .b13-header h4 {
  font-family: 'WorkSans-Bold', sans-serif;
  margin-bottom: 20px;
  text-align: left;
  font-size: 19px;
  font-family: 'WorkSans-Bold', sans-serif;
  text-align: left;
  color: #4952b8;
}
.servicios-dace .b13-body {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  padding-bottom: 50px;
}
.servicios-dace .b13-body h3 {
  font-family: 'WorkSans-Medium', sans-serif;
  margin-bottom: 20px;
  text-align: left;
  font-size: 34px;
  text-align: left;
  color: #4952b8;
}
.servicios-dace .b13-body p {
  font-size: 16px;
}
@media screen and (max-width: 750px) {
  .servicios-dace .b13-header {
    width: 100%;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    margin-bottom: 20px;
  }
  .servicios-dace .b13-header li {
    width: 100%;
  }
  .servicios-dace .b13-header a {
    padding: 0 4px;
    font-size: 15px;
  }
  .servicios-dace .b13-body {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .servicios-dace .b13-header {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media screen and (max-width: 500px) {
  .servicios-dace .b13-header {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
