.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b14 {
  background: url("../media/postgrado/bg-postgrado.jpg") center center no-repeat;
  height: 85vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: table-cell;
  vertical-align: bottom;
  width: 2000px;
  color: #fff;
  font-size: 0;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.b14 h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 57px;
  width: 32%;
  margin: 0 1%;
}
.b14 h1 strong {
  font-family: 'Cinzel-Bold', sans-serif;
}
.b14 a {
  text-transform: uppercase;
  border: 2px solid #fff;
  font-size: 25px;
  padding: 30px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 1.5%;
  border-radius: 7px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b14 a:hover {
  background: #000;
}
@media screen and (max-width: 1210px) {
  .b14 h1 {
    font-size: 45px;
  }
  .b14 a {
    font-size: 17px;
    padding: 20px 0;
  }
}
@media screen and (max-width: 960px) {
  .b14 h1 {
    font-size: 35px;
  }
  .b14 a {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .b14 {
    height: 76vh;
    padding-bottom: 20px;
  }
  .b14 h1 {
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
  }
  .b14 a {
    margin: 10px;
    width: 44%;
  }
}
@media screen and (max-width: 500px) {
  .b14 a {
    width: 90%;
  }
}
