.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b15 {
  text-align: center;
  margin-bottom: 50px;
}
.b15-title {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #333;
  font-size: 34px;
  font-family: 'WorkSans-Medium', sans-serif;
  margin-left: 1%;
  text-align: left;
}
.b15-items {
  text-align: left;
}
.b15-item {
  width: 31%;
  display: inline-block;
  vertical-align: middle;
  margin: 0.8%;
  background: #453c37;
  color: #fff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  overflow: hidden;
}
.b15-item img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.b15-item .b15-figcaption {
  padding: 15px;
}
.b15-item .b15-figcaption p {
  display: block;
  margin-bottom: 5px;
}
.b15-item .b15-figcaption strong {
  display: block;
}
.b15-item .b15-figcaption span:before {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  color: #fff;
  display: inline-block;
}
.b15-item:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.b15-item:hover span:before {
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -o-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}
@media screen and (max-width: 600px) {
  .b15-item {
    width: 47%;
  }
}
@media screen and (max-width: 400px) {
  .b15-item {
    width: 100%;
    margin: 0.5% auto;
  }
}
