.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.servicios-dace .b16 {
  background: url("../media/dace/servicios/servicios-dace-bg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 400px;
  position: relative;
  color: #fff;
}
.servicios-dace .b16 .web-library-header {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
.servicios-dace .b16 .headerFirst-unas {
  vertical-align: top;
}
.servicios-dace .b16 .header-main {
  position: relative;
  height: 360px;
  top: 0;
  margin: 0;
}
.servicios-dace .b16 .header-logoAzul {
  position: absolute;
  top: 20px;
  right: 20px;
}
.servicios-dace .b16 .header-logo {
  width: 180px;
  position: absolute;
  bottom: 30px;
}
.servicios-dace .b16-menu {
  text-align: center;
  background: #282c56;
  color: #fff;
}
.servicios-dace .b16-menu a {
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid #fff;
  padding: 12px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'WorkSans-Medium', sans-serif;
}
.servicios-dace .b16-menu a:last-child {
  border: none;
}
.servicios-dace .b16-menu .headerMenu {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .servicios-dace .b16-menu .headerMenu {
    display: block;
  }
  .servicios-dace .b16 {
    height: 400px;
    background-image: url("../media/dace/servicios/servicios-dace-bg.jpg");
  }
}
.home-dace .b16 {
  background: url("../media/dace/dace-bg.jpg") center center no-repeat;
}
