.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b17 {
  font-size: 0;
  text-align: center;
  padding: 50px 0;
}
.b17-left {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  text-align: left;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b17-left h4 {
  font-size: 34px;
  font-family: 'WorkSans-Medium', sans-serif;
  color: #4952b8;
  margin-bottom: 25px;
}
.b17-left p {
  font-size: 18px;
  font-family: 'WorkSans-Regular', sans-serif;
  color: #282c56;
  line-height: 1.5;
  margin-bottom: 30px;
}
.b17-left a {
  color: #fff;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #4952b8;
  display: inline-block;
  border-radius: 2px;
}
.b17-right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.b17-right:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 370px;
  height: 370px;
  background: #4952b8;
  border-radius: 50%;
  z-index: -1;
}
.b17-right img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 960px) {
  .b17-left {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
  }
  .b17-right {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .b17-right {
    width: 300px;
  }
  .b17-right:before {
    width: 305px;
    height: 305px;
  }
}
