.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b18 {
  font-size: 0;
  text-align: center;
  color: #000;
  padding: 60px 0;
}
.b18-left,
.b18-right {
  width: 2000px;
  height: 40vh;
  background: #dcdcdc;
  display: table-cell;
  vertical-align: middle;
}
.b18-left h2,
.b18-right h2 {
  font-size: 40px;
  font-family: 'Cinzel-Regular', sans-serif;
}
.b18-left h3,
.b18-right h3,
.b18-left h2,
.b18-right h2 {
  width: 280px;
  margin: auto;
  text-align: left;
}
.b18-left h3,
.b18-right h3 {
  font-size: 20px;
}
.b18-left {
  border-right: 6px solid #fff;
}
.b18-right {
  border-left: 6px solid #fff;
}
@media screen and (max-width: 600px) {
  .b18-left,
  .b18-right {
    display: block;
    height: 30vh;
    width: 100%;
    border: none;
    margin-bottom: 15px;
  }
  .b18-left h3,
  .b18-right h3 {
    padding-top: 10vh;
  }
}
