.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b2 {
  font-size: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 5px;
}
.b2-left {
  background: #896251;
  color: #fff;
  width: 50%;
  height: 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b2-left-box {
  text-align: left;
}
.b2-left-box h4 {
  font-size: 28px;
  font-family: 'Cinzel-Regular', sans-serif;
  margin-bottom: 20px;
}
.b2-left-box a {
  display: block;
  border: 2px solid #fff;
  font-size: 25px;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  width: 400px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b2-left-box a:hover {
  color: #896251;
  border-color: #896251;
  background: #fff;
}
.b2-right {
  background: #dcdcdc;
  color: #000;
  width: 50%;
  height: 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b2-right-box {
  text-align: left;
  width: 100%;
  margin-right: 50px;
}
.b2-right-box h4 {
  font-size: 28px;
  font-family: 'Cinzel-Regular', sans-serif;
  margin-bottom: 20px;
}
.b2-right-box a {
  display: block;
  border: 2px solid #000;
  font-size: 25px;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  width: 400px;
  margin-left: 50px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b2-right-box a:hover {
  color: #dcdcdc;
  border-color: #dcdcdc;
  background: #000;
}
@media screen and (max-width: 1150px) {
  .b2-left-box a {
    width: 250px;
    margin-left: 0;
  }
  .b2-right-box a {
    width: 250px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .b2 {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .b2-left {
    width: 100%;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    -o-box-pack: distribute;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding: 30px 0;
    height: auto;
  }
  .b2-left-box h4 {
    font-size: 22px;
  }
  .b2-left-box a {
    font-size: 19px;
  }
  .b2-right {
    width: 100%;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    -o-box-pack: distribute;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding: 30px 0;
    height: auto;
  }
  .b2-right-box {
    width: auto;
    margin: 0;
  }
  .b2-right-box h4 {
    font-size: 22px;
  }
  .b2-right-box a {
    margin-left: 0;
    font-size: 19px;
  }
}
