.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b3 {
  padding-bottom: 10px;
  padding-top: 30px;
  background: #fff;
  overflow: hidden;
}
.b3-card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  color: #fff;
}
.b3-card-title {
  background: #00aa4a;
  padding: 60px 30px;
  padding-right: 20%;
  color: #fff;
  position: relative;
}
.b3-card-title:before {
  content: "";
  font-family: 'icomoon';
  position: absolute;
  font-size: 7px;
  top: 0;
  left: 30px;
  width: 3px;
  height: 40px;
  background: #fff;
}
.b3-card-title:after {
  content: "\e902";
  font-family: 'icomoon';
  position: absolute;
  font-size: 7px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 30px;
  font-size: 20px;
  height: 20px;
}
.b3-card-title h4 {
  font-size: 28px;
  font-family: 'WorkSans-Medium', sans-serif;
  line-height: 1.2;
}
.b3-card-title p {
  font-size: 15px;
  font-family: 'WorkSans-Regular', sans-serif;
}
.b3-card-description {
  color: #000;
  font-family: 'WorkSans-Regular', sans-serif;
  font-size: 14px;
  margin-top: 30px;
  padding-left: 10%;
  padding-right: 3%;
  letter-spacing: 0.3px;
  padding-bottom: 20px;
  position: relative;
  line-height: 1.3;
}
.b3-card-description:before {
  content: "\e900";
  font-family: 'icomoon';
  position: absolute;
  font-size: 7px;
  top: 6px;
  left: 10px;
}
@media screen and (max-width: 768px) {
  .b3-card-title:after {
    right: 20px;
  }
}
