.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b4 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.b4-left {
  width: 50%;
}
.b4-left img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}
.b4-right {
  width: 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #f1f1f1;
}
.b4-text {
  margin-left: 13%;
  margin-top: 20%;
}
.b4-text h4 {
  font-size: 60px;
  font-family: 'WorkSans-Bold', sans-serif;
  text-transform: uppercase;
  color: #00a94a;
}
.b4-text p {
  font-size: 20px;
  font-family: 'WorkSans-Regular', sans-serif;
  color: #585858;
  margin-bottom: 40px;
}
.b4-text a {
  display: inline-block;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  background: #00aa4a;
  color: #fff;
  width: 280px;
  text-align: center;
  font-size: 20px;
  border: 1px solid transparent;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b4-text a:hover {
  border: 1px solid #00aa4a;
  color: #00aa4a;
  background: #f1f1f1;
}
@media screen and (max-width: 1100px) {
  .b4-text h4 {
    font-size: 50px;
  }
}
@media screen and (max-width: 960px) {
  .b4-text {
    margin-left: 8%;
  }
  .b4-text h4 {
    font-size: 45px;
  }
  .b4-text p {
    font-size: 18px;
  }
  .b4-text a {
    font-size: 18px;
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .b4-text h4 {
    font-size: 35px;
  }
  .b4-text p {
    font-size: 16px;
  }
  .b4-text a {
    font-size: 16px;
    width: 80%;
  }
}
@media screen and (max-width: 650px) {
  .b4 {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -o-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .b4-left,
  .b4-right {
    width: 100%;
    text-align: center;
  }
  .b4-text {
    margin: 60px auto;
    margin-bottom: 30px;
  }
}
.home-dace .b4 {
  height: 420px;
  margin-bottom: 40px;
}
.home-dace .b4-left .b4-figure {
  background: url("../media/estudiante.jpg") center center no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.home-dace .b4-text {
  margin-top: 7%;
}
.home-dace .b4-text h4 {
  color: #282c56;
}
.home-dace .b4-text a {
  background: #525abb;
}
