.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b41 {
  background: url("../media/baquetaYclaqueta/b41-bg.jpg") center center no-repeat;
  text-align: right;
  padding-top: 70px;
  padding-bottom: 90px;
  color: #595759;
  font-size: 13px;
}
.b41 h4 {
  text-align: left;
  font-family: 'Cinzel-Bold', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  color: #595759;
}
.b41 .btn {
  font-family: t-17;
  font-size: 24px;
  background: #5515ff;
  color: #fff;
  border: none;
  padding: 5px 30px;
  position: absolute;
  right: 30px;
  bottom: -20px;
  display: inline-block;
  position: absolute;
}
.b41 .btn:after {
  content: "";
  position: absolute;
  top: -7px;
  height: 7px;
  width: 100%;
  left: -4px;
  background: #001995;
  -webkit-transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -o-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  transform: skewX(45deg);
}
.b41 .btn:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 100%;
  width: 7px;
  top: -4px;
  background: #001995;
  -webkit-transform: skewY(45deg);
  -moz-transform: skewY(45deg);
  -o-transform: skewY(45deg);
  -ms-transform: skewY(45deg);
  transform: skewY(45deg);
}
.b41-btn-terminos {
  position: absolute;
  right: 10px;
  top: -23px;
  color: #00dfb9;
  font-size: 13px;
  font-family: t-17;
  letter-spacing: 0.1px;
}
.b41-wrap {
  width: 630px;
  background: #fff;
  margin: auto;
  margin-right: 0;
  padding: 40px;
  padding-top: 50px;
  padding-bottom: 60px;
  position: relative;
}
.b41-img {
  position: absolute;
  left: -150px;
  top: -30px;
}
.b41-text {
  text-align: left;
  width: 300px;
  margin: auto;
  font-size: 14px;
  margin-bottom: 50px;
  padding-left: 20px;
}
.b41-form {
  text-align: left;
}
.b41-form hr {
  margin: 35px 0;
  margin-top: 15px;
  margin-left: -20px;
  width: 106%;
}
.b41-input label,
.b41-input input {
  display: block;
  width: 100%;
}
.b41-input label {
  margin-bottom: 7px;
}
.b41-input input {
  border-radius: 8px;
  height: 44px;
  border: 1px solid #d7d6d6;
  margin-bottom: 20px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b41-input .spanf12 {
  font-size: 12px;
}
.b41-input2 {
  font-size: 0;
}
.b41-input2 .b41-input {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  width: 58%;
  margin-right: 2%;
}
.b41-input2 .b41-input:last-child {
  width: 40%;
  margin-right: 0;
}
.b41-input2 .b41-input span {
  font-size: 11px;
  color: #ff007c;
}
.b41-input2.contacto .b41-input {
  width: 49%;
  margin-right: 2%;
}
.b41-input2.contacto .b41-input:last-child {
  margin-right: 0;
}
.b41-input3 {
  font-size: 0;
}
.b41-input3 .b41-input {
  width: 28%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
}
.b41-input3 .b41-input:last-child {
  margin-right: 0;
  position: relative;
}
.b41-input3 .b41-input:last-child:before {
  position: absolute;
  content: "\e903";
  font-family: 'icomoon';
  right: 10px;
  top: 23px;
  bottom: 0;
  margin: auto;
  height: 13px;
  font-size: 16px;
  pointer-events: none;
}
.b41-input3 .b41-input select {
  border-radius: 8px;
  height: 44px;
  border: 1px solid #d7d6d6;
  width: 100%;
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #d7d6d6;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b41-terminos {
  font-size: 11px;
}
.b41-terminos input {
  display: none;
}
.b41-terminos label {
  padding-left: 30px;
  display: block;
  position: relative;
}
.b41-terminos label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  border: 1px solid #d7d6d6;
  border-radius: 20px;
}
.b41-terminos label:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #ff007c;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b41-terminos input[type="checkbox"]:checked + label:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b41-terminos input {
  display: none;
}
.b41-lightbox {
  background: rgba(1,1,1,0.5);
  position: absolute;
  top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: 1.1s ease-in;
  -moz-transition: 1.1s ease-in;
  -o-transition: 1.1s ease-in;
  -ms-transition: 1.1s ease-in;
  transition: 1.1s ease-in;
}
.b41-lightbox.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.b41-lightbox-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  width: 2000px;
  height: 100vh;
}
.b41-lightbox-container h4 {
  font-family: t-17;
  color: #00dfb9;
  font-size: 33px;
}
.b41-lightbox-container p {
  color: #1a1a1a;
  font-size: 16px;
}
.b41-lightbox-container h3 {
  margin: 25px 0;
  margin-bottom: 23px;
  font-size: 16px;
}
.b41-lightbox-wrap {
  width: 740px;
  margin: auto;
  background: #fff;
  padding: 40px;
  padding-bottom: 20px;
}
@-moz-keyframes animationIn {
  0% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
  60% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  70% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  90% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@-webkit-keyframes animationIn {
  0% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
  60% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  70% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  90% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@-o-keyframes animationIn {
  0% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
  60% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  70% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  90% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@keyframes animationIn {
  0% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
  60% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  70% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  90% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@-moz-keyframes animationOut {
  0% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
}
@-webkit-keyframes animationOut {
  0% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
}
@-o-keyframes animationOut {
  0% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
}
@keyframes animationOut {
  0% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
}
