.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b5 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  overflow: hidden;
}
.b5-left {
  width: 20%;
  padding: 35px 20px;
  background: #453c37;
  color: #fff;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9;
}
.b5-left h4 {
  font-size: 34px;
  font-family: 'WorkSans-Medium', sans-serif;
  position: relative;
}
.b5-left h4:after {
  content: "\e902";
  font-family: 'icomoon';
  position: absolute;
  font-size: 7px;
  bottom: -50px;
  margin: auto;
  left: 0;
  font-size: 20px;
  height: 20px;
}
.b5-left .swiper-button-prev {
  left: 30px;
  bottom: 20px;
  top: inherit;
  border: 1px solid #fff;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
}
.b5-left .swiper-button-prev:before {
  content: "\e607";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'icomoon';
  font-size: 50px;
  margin: auto;
  height: 50px;
  width: 50px;
}
.b5-left .swiper-button-next {
  left: 91px;
  bottom: 20px;
  top: inherit;
  border: 1px solid #fff;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
}
.b5-left .swiper-button-next:before {
  content: "\e606";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'icomoon';
  font-size: 50px;
  margin: auto;
  height: 50px;
  width: 50px;
}
.b5-right {
  width: 80%;
}
.b5-card {
  border-right: 1px solid #000;
  height: 93%;
  padding: 30px 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 400px;
}
.b5-card-title p {
  font-family: 'WorkSans-SemiBold', sans-serif;
  font-size: 24px;
  text-align: left;
  color: #746f6f;
}
.b5-card-title h4 {
  font-family: 'Cinzel-Bold', sans-serif;
  font-size: 24px;
  color: #000;
  text-align: left;
  margin-bottom: 90px;
  line-height: 1.2;
  letter-spacing: 1px;
}
.b5-card-title a {
  border: 1px solid #000;
  padding: 20px;
  display: inline-block;
  color: #191919;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 120px;
  text-align: center;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b5-card-title a:hover {
  background: #000;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .b5-left {
    width: 25%;
  }
  .b5-right {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .b5 {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .b5-left {
    width: 100%;
  }
  .b5-left h4:after {
    left: 310px;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  .b5-left h4 br {
    display: none;
  }
  .b5-left .swiper-button-next {
    left: inherit;
    right: 30px;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  .b5-left .swiper-button-prev {
    left: inherit;
    right: 91px;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  .b5-right {
    width: 100%;
  }
  .b5-card {
    min-height: 370px;
  }
}
@media screen and (max-width: 550px) {
  .b5-left h4 {
    font-size: 25px;
    margin-bottom: 0;
  }
  .b5-left h4 br {
    display: block;
  }
  .b5-left h4:after {
    left: 130px;
  }
  .b5-left .swiper-button-next {
    padding: 20px;
  }
  .b5-left .swiper-button-next:before {
    font-size: 40px;
    height: 40px;
    width: 40px;
  }
  .b5-left .swiper-button-prev {
    padding: 20px;
    right: 71px;
  }
  .b5-left .swiper-button-prev:before {
    font-size: 40px;
    height: 40px;
    width: 40px;
  }
}
