.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b20 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.b20 .cnt-map .box-map {
  width: 100%;
  height: 375px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.b20 .cnt-map .map {
  width: 100%;
  height: 100%;
}
.b20 .cnt-map .abrir-map,
.b20 .cnt-map .cerrar-map {
  display: none;
  height: 33px;
  line-height: 33px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  font-family: 'ubuntumedium', sans-serif;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  padding: 0 15px;
}
.b20 .cnt-map .abrir-map:hover {
  background: #00aa4a;
}
.b20 .cnt-map .cerrar-map:hover {
  background: #ab7a37;
  color: #fff;
}
.b20 .cnt-map .cerrar-map {
  width: 115px;
  position: absolute;
  right: 0px;
  left: 0;
  bottom: 30px;
  margin: auto;
  z-index: 100;
  background: #00aa4a;
  color: #fff;
  border: none;
}
@media screen and (max-width: 768px) {
  .b20 {
    background: #896251;
    padding: 70px 0;
  }
  .b20 .cnt-map {
    position: relative;
    text-align: center;
  }
  .b20 .cnt-map .abrir-map {
    display: inline-block;
  }
  .b20 .cnt-map .cerrar-map {
    display: inline-block;
  }
  .b20 .cnt-map .box-map {
    position: fixed;
    top: -100%;
    left: 0;
    height: 100%;
  }
  .b20 .cnt-map .anima-map {
    top: 0;
    z-index: 4000;
  }
}
