.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b7.bg {
  background: url("../media/investigaciones/bg-investigacion.png") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 350px;
}
@media screen and (max-width: 650px) {
  .b7.bg {
    height: 250px;
  }
}
