.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b8.breadcrumbs {
  text-align: right;
  font-family: 'WorkSans-Regular', sans-serif;
  font-size: 16px;
  color: #000;
  padding-top: 15px;
  padding-bottom: 30px;
}
.b8.breadcrumbs span {
  font-size: 10px;
}
