.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b9 {
  color: #333;
  padding-bottom: 40px;
}
.b9 h2 {
  font-family: 'WorkSans-Medium', sans-serif;
  font-size: 34px;
  margin-bottom: 40px;
}
.b9 p {
  font-size: 18px;
  font-family: 'WorkSans-Regular', sans-serif;
  line-height: 1.5;
  padding-bottom: 35px;
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
}
.b9-menu.b4-text {
  margin: 0;
  text-align: center;
}
.b9 .b9-menu-text {
  display: inline-block;
  vertical-align: middle;
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}
