.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.footer {
  background: #0b7539;
  color: #fff;
  padding-top: 30px;
  position: relative;
}
.footer-logo {
  display: inline-block;
  width: 250px;
  margin-left: 30px;
}
.footer-logo:before {
  content: "";
  background: #fff;
  height: 2px;
  width: 25%;
  position: absolute;
  top: 110px;
  left: 0;
}
.footer-logo img {
  max-width: 100%;
  height: auto;
  display: block;
}
.footer-items {
  font-size: 0;
  margin-top: -10px;
  padding-bottom: 30px;
}
.footer-item {
  font-size: 16px;
  font-family: 'WorkSans-Regular', sans-serif;
  display: inline-block;
  vertical-align: bottom;
  width: 29%;
}
.footer-item:nth-child(2) {
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer-item p {
  margin-bottom: 10px;
}
.footer-item.botones {
  width: 13%;
}
.footer-item.botones a {
  display: block;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: #0b7539;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Cinzel-Regular', sans-serif;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.footer-item.botones a:hover {
  background: #fff;
  color: #0b7539;
}
.footer-logos {
  background: #fff;
  padding: 10px 0;
  overflow: hidden;
}
.footer-copy {
  text-align: center;
  font-family: 'WorkSans-Regular', sans-serif;
  font-size: 15px;
  background: #042d16;
  padding: 15px;
}
.footer-copy p {
  margin-bottom: 0;
}
@media screen and (max-width: 960px) {
  .footer-item {
    width: 50%;
    margin-bottom: 20px;
  }
  .footer-item.botones {
    width: 50%;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer-item br {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    text-align: center;
  }
  .footer-logo {
    margin: auto;
  }
  .footer-logo:before {
    right: 0;
    margin: auto;
  }
  .footer-item {
    width: 100%;
  }
  .footer-item:nth-child(1) {
    margin-top: 50px;
  }
  .footer-item.botones {
    width: 100%;
    padding-left: 0px;
  }
  .footer-items {
    padding-bottom: 0;
  }
}
.footer-dace .footer {
  background: #4952b8;
}
.footer-dace .footer .botones a {
  background: #4952b8;
}
.footer-dace .footer-copy {
  background: #282c56;
}
