.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 210px;
  background: -webkit-linear-gradient(bottom, rgba(10,10,10,0), rgba(0,0,0,0.4));
  background: -moz-linear-gradient(bottom, rgba(10,10,10,0), rgba(0,0,0,0.4));
  background: -o-linear-gradient(bottom, rgba(10,10,10,0), rgba(0,0,0,0.4));
  background: -ms-linear-gradient(bottom, rgba(10,10,10,0), rgba(0,0,0,0.4));
  background: linear-gradient(to top, rgba(10,10,10,0), rgba(0,0,0,0.4));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -1;
}
.header.active {
  background: #0d7439;
}
.header.active:before {
  display: none;
}
.header.active .headerFirst {
  display: none;
}
.header.active .header-main {
  margin-top: 0;
}
.header.active .header-logo {
  margin: 10px 0;
}
.header.active .header-logo img {
  width: 170px;
  margin-left: 0;
}
.headerFirst {
  font-size: 0;
}
.headerFirst-left {
  width: 50%;
  font-size: 12px;
  font-family: 'WorkSans-Regular', sans-serif;
  display: inline-block;
  vertical-align: middle;
}
.headerFirst-left a {
  padding: 10px;
  padding-left: 0;
}
.headerFirst-right {
  width: 50%;
  font-size: 0;
  font-family: 'WorkSans-Regular', sans-serif;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
.headerFirst-right p {
  margin-bottom: 0;
}
.headerFirst-bolsa {
  font-family: 'WorkSans-Medium', sans-serif;
  font-size: 18px;
  padding: 7px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #00aa4a;
  display: inline-block;
  vertical-align: middle;
}
.headerFirst-unas {
  display: inline-block;
  vertical-align: middle;
  background: #21180f;
  padding: 7px 10px;
}
.headerFirst-unas span {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}
.headerFirst-unas a {
  font-size: 19px;
  font-family: 'WorkSans-Bold', sans-serif;
  display: inline-block;
  vertical-align: middle;
}
.header-main {
  font-size: 0;
  margin-top: 20px;
}
.header-logo {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.header-logo img {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.headerMenu {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  font-size: 14px;
  font-family: 'WorkSans-Medium', sans-serif;
  text-align: right;
}
.headerMenu-link {
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  transition: all 0.45s ease;
  background: #000;
}
.menu-overlay.active {
  z-index: 1000;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.menu-mobile-close,
.menu-mobile-open {
  background-color: #cc5d40;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  position: fixed;
  right: 5px;
  text-align: center;
  top: 10px;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  transition: all 0.45s ease;
  width: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.menu-mobile-close:before,
.menu-mobile-open:before {
  color: #fff;
}
.menu-mobile-open {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 1004;
  background: transparent;
  right: 0;
  top: 20px;
  padding: 13px;
}
.menu-mobile-open.scrolling {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.menu-mobile-open:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.menu-mobile-open.active {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 1000;
}
.menu-mobile-close {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 9999;
  color: #fff;
  background: #00aa4a;
  right: 0;
  top: 30px;
  padding: 13px;
}
.menu-mobile-close.active {
  right: 242px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.menu-mobile-close.active {
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.menu-sidebar {
  width: 240px;
  height: 100%;
  overflow: auto;
  position: inherit;
  top: 0;
  right: -240px;
  background: #262626;
  color: #fff;
  z-index: 9999;
  -webkit-transition: left 0.45s ease;
  -moz-transition: left 0.45s ease;
  -o-transition: left 0.45s ease;
  -ms-transition: left 0.45s ease;
  transition: left 0.45s ease;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  display: none;
}
.menu-sidebar.active {
  right: 0;
  position: absolute;
  display: block;
}
@media screen and (max-width: 960px) {
  .header-main {
    text-align: left;
  }
  .headerMenu,
  .headerFirst {
    display: none;
  }
  .header-logo {
    width: 200px;
  }
  .menu-wrapper .headerFirst {
    display: block;
  }
  .menu-wrapper .headerFirst-left {
    border-top: 1px solid #fff;
    width: 100%;
  }
  .menu-wrapper .headerFirst-left a {
    display: block;
    text-align: center;
  }
  .menu-wrapper .headerFirst-right {
    width: 100%;
    text-align: center;
  }
  .menu-wrapper .headerMenu {
    display: block;
    width: 100%;
  }
  .menu-wrapper .headerMenu-link {
    display: block;
    text-align: center;
  }
  .menu-mobile-open {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
  }
}
@media screen and (max-width: 650px) {
  .header {
    text-align: center;
    padding-top: 10px;
  }
  .headerFirst-left {
    width: 100%;
    margin-bottom: 10px;
  }
  .headerFirst-right {
    width: 100%;
    text-align: center;
  }
  .menu-mobile-open,
  .menu-mobile-close {
    top: 25px;
  }
}
