.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.title-general {
  font-family: 'Cinzel-Bold', sans-serif;
  font-size: 17px;
  color: #898989;
  text-align: left;
  margin-left: 0.5%;
  display: inline-block;
}
.title-general2 {
  font-family: 'Cinzel-Bold', sans-serif;
  font-size: 17px;
  color: #898989;
  text-align: left;
  margin-left: 0.5%;
  display: inline-block;
}
.gral-left {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.5%;
  line-height: 1;
  margin-bottom: 8px;
}
.gral-left h2 {
  margin-bottom: 0;
}
.gral-right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1%;
  position: relative;
  line-height: 1;
  margin-bottom: 8px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.gral-right:before {
  content: "\e903";
  font-family: 'icomoon';
  position: absolute;
  top: 1px;
  right: 7px;
  margin: auto;
  font-size: 16px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  color: #898989;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 9;
}
.gral-right a {
  padding-right: 20px;
}
.gral-right:hover {
  -webkit-transform: translateX(-7px);
  -moz-transform: translateX(-7px);
  -o-transform: translateX(-7px);
  -ms-transform: translateX(-7px);
  transform: translateX(-7px);
}
.gral-right:hover:before {
  right: -5px;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.wrapp-iframe-general {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px;
  overflow: hidden;
  background-color: #9fab26;
  display: block;
  padding-top: 0px;
}
.wrapp-iframe-general:first-child {
  padding-top: 6px;
}
.name-dev {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: 'Arial', sans-serif;
  color: #9fab26;
  border-bottom: 2px solid #9fab26;
  text-transform: uppercase;
  margin-left: 15px;
}
.btn-copy {
  background-color: #9fab26;
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
}
.btn-copy.hover {
  background-color: #808080;
}
.inner-general {
  background: #fff;
  padding: 20px 0;
}
.general-wrapper {
  padding: 10px;
  border: 1px dashed #808080;
  width: 98%;
  margin: auto;
  margin-top: 30px;
}
.block-general {
  padding: 5px;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b1 {
  position: relative;
  height: 90vh;
  z-index: 9;
}
.b1 .swiper-pagination-bullet {
  background: #fff;
  border: 2px solid #fff;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b1 .swiper-pagination-bullet-active {
  background: #695e54;
  border: 2px solid #fff;
}
.b1 .swiper-pagination {
  left: 30px;
}
.b1 .swiper-container {
  width: 100%;
  height: 100%;
}
.b1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
/* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.b1 .swiper-slide.uno {
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.b1 .web-library {
  position: absolute;
  left: 0;
  bottom: 30px;
  display: inline-block;
  z-index: 99;
}
.b1 .web-library img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 650px) {
  .b1 {
    height: 70vh;
  }
  .b1 .fff {
    height: 70vh !important;
  }
  .b1 .web-library {
    width: 110px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b10 {
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.b10 .b4-left {
  width: 40%;
}
.b10 .b4-right {
  width: 60%;
  text-align: left;
  font-size: 16px;
}
.b10 .b4-right h4 {
  font-size: 34px;
  font-family: 'WorkSans-Medium', sans-serif;
  color: #333;
  text-transform: inherit;
  line-height: 1.1;
  margin-bottom: 20px;
}
.b10 .b4-text {
  max-width: 580px;
  margin-left: 7%;
  padding-right: 5%;
}
.b10 .b4-text .b10-nombre {
  font-size: 20px;
  margin-bottom: 0px;
  font-family: 'Cinzel-Regular', sans-serif;
}
.b10 .b4-text .b10-cargo {
  font-size: 16px;
  font-family: 'Cinzel-Regular', sans-serif;
}
@media screen and (max-width: 1080px) {
  .b10 .b4-left {
    width: 50%;
  }
  .b10 .b4-right {
    width: 50%;
  }
  .b10 .b4-right h4 {
    font-size: 28px;
    line-height: 1;
  }
  .b10 .b4-text {
    margin-top: 5%;
  }
}
@media screen and (max-width: 660px) {
  .b10 {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -o-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .b10 .b4-left {
    width: 100%;
  }
  .b10 .b4-right {
    width: 100%;
  }
  .b10 .b4-right h4 {
    font-size: 22px;
    margin-top: 20px;
  }
  .b10 .b4-text {
    margin-bottom: 0;
    margin-left: 5%;
  }
  .b10 .b4-text .b10-nombre {
    font-size: 18px;
  }
  .b10 .b4-text .b10-cargo {
    font-size: 14px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b11 {
  text-align: center;
  background: url("../media/investigaciones/web_library_bg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.b11-box {
  color: #fff;
  display: inline-block;
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.b11-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 75px;
  background: #fff;
}
.b11-box:after {
  content: "";
  position: absolute;
  left: -7px;
  top: 75px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
}
.b11-box p {
  font-family: 'Cinzel-Regular', sans-serif;
  font-size: 57px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  text-align: left;
  margin-right: 50px;
  line-height: 0;
}
.b11-box strong {
  font-family: 'WorkSans-Regular', sans-serif;
}
.b11-box br {
  line-height: 0.9;
}
.b11-box a {
  border: 3px solid #fff;
  display: inline-block;
  vertical-align: middle;
  padding: 25px 40px;
  font-size: 25px;
  border-radius: 5px;
}
@media screen and (max-width: 700px) {
  .b11-box p {
    font-size: 37px;
  }
  .b11-box a {
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  .b11-box {
    padding: 40px 10px;
  }
  .b11-box p {
    margin-bottom: 20px;
    line-height: 1;
  }
  .b11-box br {
    display: none;
  }
  .b11-box a {
    display: block;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b12 {
  background: url("../media/servicios/servicios_bg.png") center center no-repeat;
  height: 350px;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b13 {
  text-align: center;
}
.b13-header {
  font-size: 0;
  border-radius: 8px;
}
.b13-header li {
  width: 33.333%;
  display: inline-block;
  vertical-align: middle;
}
.b13-header li a {
  display: inline-block;
  width: 100%;
  padding: 25px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #453c37;
  color: #fff;
  font-size: 20px;
  border-right: 1px solid #808080;
  position: relative;
}
.b13-header li a:last-child {
  border-right: none;
}
.b13-header li a:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 20px 0 20px;
  border-color: #453c37 transparent transparent transparent;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
}
.b13-body {
  padding: 80px 0;
  color: #453c37;
  text-align: left;
}
.b13-body h3 {
  font-size: 34px;
  font-family: 'WorkSans-Medium', sans-serif;
  margin-bottom: 40px;
}
.b13-body p {
  font-size: 18px;
  font-family: 'WorkSans-Regular', sans-serif;
}
@media screen and (max-width: 600px) {
  .b13-header li {
    width: 100%;
    border-top: 1px solid #fff;
  }
  .b13-header li a {
    padding: 15px 0;
    font-size: 16px;
  }
  .b13-header li a:before {
    display: none;
  }
  .b13-body {
    padding: 30px 0;
  }
  .b13-body h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .b13-body p {
    font-size: 14px;
  }
}
.servicios-dace .b13 {
  font-size: 0;
}
.servicios-dace .b13-header {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.servicios-dace .b13-header li {
  display: block;
  width: 100%;
}
.servicios-dace .b13-header li:hover a:after,
.servicios-dace .b13-header li.ui-state-active a:after {
  width: 20px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.servicios-dace .b13-header a {
  background: none;
  text-align: left;
  background: none;
  color: #282c56;
  font-size: 16px;
  padding: 0;
  margin-bottom: 10px;
  font-family: 'WorkSans-Regular', sans-serif;
}
.servicios-dace .b13-header a:before {
  display: none;
}
.servicios-dace .b13-header a:after {
  content: "";
  background: #4952b8;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 3px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.servicios-dace .b13-header h4 {
  font-family: 'WorkSans-Bold', sans-serif;
  margin-bottom: 20px;
  text-align: left;
  font-size: 19px;
  font-family: 'WorkSans-Bold', sans-serif;
  text-align: left;
  color: #4952b8;
}
.servicios-dace .b13-body {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  padding-bottom: 50px;
}
.servicios-dace .b13-body h3 {
  font-family: 'WorkSans-Medium', sans-serif;
  margin-bottom: 20px;
  text-align: left;
  font-size: 34px;
  text-align: left;
  color: #4952b8;
}
.servicios-dace .b13-body p {
  font-size: 16px;
}
@media screen and (max-width: 750px) {
  .servicios-dace .b13-header {
    width: 100%;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    margin-bottom: 20px;
  }
  .servicios-dace .b13-header li {
    width: 100%;
  }
  .servicios-dace .b13-header a {
    padding: 0 4px;
    font-size: 15px;
  }
  .servicios-dace .b13-body {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .servicios-dace .b13-header {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media screen and (max-width: 500px) {
  .servicios-dace .b13-header {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b14 {
  background: url("../media/postgrado/bg-postgrado.jpg") center center no-repeat;
  height: 85vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: table-cell;
  vertical-align: bottom;
  width: 2000px;
  color: #fff;
  font-size: 0;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.b14 h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 57px;
  width: 32%;
  margin: 0 1%;
}
.b14 h1 strong {
  font-family: 'Cinzel-Bold', sans-serif;
}
.b14 a {
  text-transform: uppercase;
  border: 2px solid #fff;
  font-size: 25px;
  padding: 30px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 1.5%;
  border-radius: 7px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b14 a:hover {
  background: #000;
}
@media screen and (max-width: 1210px) {
  .b14 h1 {
    font-size: 45px;
  }
  .b14 a {
    font-size: 17px;
    padding: 20px 0;
  }
}
@media screen and (max-width: 960px) {
  .b14 h1 {
    font-size: 35px;
  }
  .b14 a {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .b14 {
    height: 76vh;
    padding-bottom: 20px;
  }
  .b14 h1 {
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
  }
  .b14 a {
    margin: 10px;
    width: 44%;
  }
}
@media screen and (max-width: 500px) {
  .b14 a {
    width: 90%;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b15 {
  text-align: center;
  margin-bottom: 50px;
}
.b15-title {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #333;
  font-size: 34px;
  font-family: 'WorkSans-Medium', sans-serif;
  margin-left: 1%;
  text-align: left;
}
.b15-items {
  text-align: left;
}
.b15-item {
  width: 31%;
  display: inline-block;
  vertical-align: middle;
  margin: 0.8%;
  background: #453c37;
  color: #fff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  overflow: hidden;
}
.b15-item img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.b15-item .b15-figcaption {
  padding: 15px;
}
.b15-item .b15-figcaption p {
  display: block;
  margin-bottom: 5px;
}
.b15-item .b15-figcaption strong {
  display: block;
}
.b15-item .b15-figcaption span:before {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  color: #fff;
  display: inline-block;
}
.b15-item:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.b15-item:hover span:before {
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -o-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}
@media screen and (max-width: 600px) {
  .b15-item {
    width: 47%;
  }
}
@media screen and (max-width: 400px) {
  .b15-item {
    width: 100%;
    margin: 0.5% auto;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.servicios-dace .b16 {
  background: url("../media/dace/servicios/servicios-dace-bg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 400px;
  position: relative;
  color: #fff;
}
.servicios-dace .b16 .web-library-header {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
.servicios-dace .b16 .headerFirst-unas {
  vertical-align: top;
}
.servicios-dace .b16 .header-main {
  position: relative;
  height: 360px;
  top: 0;
  margin: 0;
}
.servicios-dace .b16 .header-logoAzul {
  position: absolute;
  top: 20px;
  right: 20px;
}
.servicios-dace .b16 .header-logo {
  width: 180px;
  position: absolute;
  bottom: 30px;
}
.servicios-dace .b16-menu {
  text-align: center;
  background: #282c56;
  color: #fff;
}
.servicios-dace .b16-menu a {
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid #fff;
  padding: 12px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'WorkSans-Medium', sans-serif;
}
.servicios-dace .b16-menu a:last-child {
  border: none;
}
.servicios-dace .b16-menu .headerMenu {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .servicios-dace .b16-menu .headerMenu {
    display: block;
  }
  .servicios-dace .b16 {
    height: 400px;
    background-image: url("../media/dace/servicios/servicios-dace-bg.jpg");
  }
}
.home-dace .b16 {
  background: url("../media/dace/dace-bg.jpg") center center no-repeat;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b17 {
  font-size: 0;
  text-align: center;
  padding: 50px 0;
}
.b17-left {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  text-align: left;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b17-left h4 {
  font-size: 34px;
  font-family: 'WorkSans-Medium', sans-serif;
  color: #4952b8;
  margin-bottom: 25px;
}
.b17-left p {
  font-size: 18px;
  font-family: 'WorkSans-Regular', sans-serif;
  color: #282c56;
  line-height: 1.5;
  margin-bottom: 30px;
}
.b17-left a {
  color: #fff;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #4952b8;
  display: inline-block;
  border-radius: 2px;
}
.b17-right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.b17-right:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 370px;
  height: 370px;
  background: #4952b8;
  border-radius: 50%;
  z-index: -1;
}
.b17-right img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 960px) {
  .b17-left {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
  }
  .b17-right {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .b17-right {
    width: 300px;
  }
  .b17-right:before {
    width: 305px;
    height: 305px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b18 {
  font-size: 0;
  text-align: center;
  color: #000;
  padding: 60px 0;
}
.b18-left,
.b18-right {
  width: 2000px;
  height: 40vh;
  background: #dcdcdc;
  display: table-cell;
  vertical-align: middle;
}
.b18-left h2,
.b18-right h2 {
  font-size: 40px;
  font-family: 'Cinzel-Regular', sans-serif;
}
.b18-left h3,
.b18-right h3,
.b18-left h2,
.b18-right h2 {
  width: 280px;
  margin: auto;
  text-align: left;
}
.b18-left h3,
.b18-right h3 {
  font-size: 20px;
}
.b18-left {
  border-right: 6px solid #fff;
}
.b18-right {
  border-left: 6px solid #fff;
}
@media screen and (max-width: 600px) {
  .b18-left,
  .b18-right {
    display: block;
    height: 30vh;
    width: 100%;
    border: none;
    margin-bottom: 15px;
  }
  .b18-left h3,
  .b18-right h3 {
    padding-top: 10vh;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b2 {
  font-size: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 5px;
}
.b2-left {
  background: #896251;
  color: #fff;
  width: 50%;
  height: 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b2-left-box {
  text-align: left;
}
.b2-left-box h4 {
  font-size: 28px;
  font-family: 'Cinzel-Regular', sans-serif;
  margin-bottom: 20px;
}
.b2-left-box a {
  display: block;
  border: 2px solid #fff;
  font-size: 25px;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  width: 400px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b2-left-box a:hover {
  color: #896251;
  border-color: #896251;
  background: #fff;
}
.b2-right {
  background: #dcdcdc;
  color: #000;
  width: 50%;
  height: 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b2-right-box {
  text-align: left;
  width: 100%;
  margin-right: 50px;
}
.b2-right-box h4 {
  font-size: 28px;
  font-family: 'Cinzel-Regular', sans-serif;
  margin-bottom: 20px;
}
.b2-right-box a {
  display: block;
  border: 2px solid #000;
  font-size: 25px;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  width: 400px;
  margin-left: 50px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b2-right-box a:hover {
  color: #dcdcdc;
  border-color: #dcdcdc;
  background: #000;
}
@media screen and (max-width: 1150px) {
  .b2-left-box a {
    width: 250px;
    margin-left: 0;
  }
  .b2-right-box a {
    width: 250px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .b2 {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .b2-left {
    width: 100%;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    -o-box-pack: distribute;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding: 30px 0;
    height: auto;
  }
  .b2-left-box h4 {
    font-size: 22px;
  }
  .b2-left-box a {
    font-size: 19px;
  }
  .b2-right {
    width: 100%;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    -o-box-pack: distribute;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding: 30px 0;
    height: auto;
  }
  .b2-right-box {
    width: auto;
    margin: 0;
  }
  .b2-right-box h4 {
    font-size: 22px;
  }
  .b2-right-box a {
    margin-left: 0;
    font-size: 19px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b3 {
  padding-bottom: 10px;
  padding-top: 30px;
  background: #fff;
  overflow: hidden;
}
.b3-card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  color: #fff;
}
.b3-card-title {
  background: #00aa4a;
  padding: 60px 30px;
  padding-right: 20%;
  color: #fff;
  position: relative;
}
.b3-card-title:before {
  content: "";
  font-family: 'icomoon';
  position: absolute;
  font-size: 7px;
  top: 0;
  left: 30px;
  width: 3px;
  height: 40px;
  background: #fff;
}
.b3-card-title:after {
  content: "\e902";
  font-family: 'icomoon';
  position: absolute;
  font-size: 7px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 30px;
  font-size: 20px;
  height: 20px;
}
.b3-card-title h4 {
  font-size: 28px;
  font-family: 'WorkSans-Medium', sans-serif;
  line-height: 1.2;
}
.b3-card-title p {
  font-size: 15px;
  font-family: 'WorkSans-Regular', sans-serif;
}
.b3-card-description {
  color: #000;
  font-family: 'WorkSans-Regular', sans-serif;
  font-size: 14px;
  margin-top: 30px;
  padding-left: 10%;
  padding-right: 3%;
  letter-spacing: 0.3px;
  padding-bottom: 20px;
  position: relative;
  line-height: 1.3;
}
.b3-card-description:before {
  content: "\e900";
  font-family: 'icomoon';
  position: absolute;
  font-size: 7px;
  top: 6px;
  left: 10px;
}
@media screen and (max-width: 768px) {
  .b3-card-title:after {
    right: 20px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b4 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.b4-left {
  width: 50%;
}
.b4-left img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}
.b4-right {
  width: 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #f1f1f1;
}
.b4-text {
  margin-left: 13%;
  margin-top: 20%;
}
.b4-text h4 {
  font-size: 60px;
  font-family: 'WorkSans-Bold', sans-serif;
  text-transform: uppercase;
  color: #00a94a;
}
.b4-text p {
  font-size: 20px;
  font-family: 'WorkSans-Regular', sans-serif;
  color: #585858;
  margin-bottom: 40px;
}
.b4-text a {
  display: inline-block;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  background: #00aa4a;
  color: #fff;
  width: 280px;
  text-align: center;
  font-size: 20px;
  border: 1px solid transparent;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b4-text a:hover {
  border: 1px solid #00aa4a;
  color: #00aa4a;
  background: #f1f1f1;
}
@media screen and (max-width: 1100px) {
  .b4-text h4 {
    font-size: 50px;
  }
}
@media screen and (max-width: 960px) {
  .b4-text {
    margin-left: 8%;
  }
  .b4-text h4 {
    font-size: 45px;
  }
  .b4-text p {
    font-size: 18px;
  }
  .b4-text a {
    font-size: 18px;
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .b4-text h4 {
    font-size: 35px;
  }
  .b4-text p {
    font-size: 16px;
  }
  .b4-text a {
    font-size: 16px;
    width: 80%;
  }
}
@media screen and (max-width: 650px) {
  .b4 {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -o-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .b4-left,
  .b4-right {
    width: 100%;
    text-align: center;
  }
  .b4-text {
    margin: 60px auto;
    margin-bottom: 30px;
  }
}
.home-dace .b4 {
  height: 420px;
  margin-bottom: 40px;
}
.home-dace .b4-left .b4-figure {
  background: url("../media/estudiante.jpg") center center no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.home-dace .b4-text {
  margin-top: 7%;
}
.home-dace .b4-text h4 {
  color: #282c56;
}
.home-dace .b4-text a {
  background: #525abb;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b41 {
  background: url("../media/baquetaYclaqueta/b41-bg.jpg") center center no-repeat;
  text-align: right;
  padding-top: 70px;
  padding-bottom: 90px;
  color: #595759;
  font-size: 13px;
}
.b41 h4 {
  text-align: left;
  font-family: 'Cinzel-Bold', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  color: #595759;
}
.b41 .btn {
  font-family: t-17;
  font-size: 24px;
  background: #5515ff;
  color: #fff;
  border: none;
  padding: 5px 30px;
  position: absolute;
  right: 30px;
  bottom: -20px;
  display: inline-block;
  position: absolute;
}
.b41 .btn:after {
  content: "";
  position: absolute;
  top: -7px;
  height: 7px;
  width: 100%;
  left: -4px;
  background: #001995;
  -webkit-transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -o-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  transform: skewX(45deg);
}
.b41 .btn:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 100%;
  width: 7px;
  top: -4px;
  background: #001995;
  -webkit-transform: skewY(45deg);
  -moz-transform: skewY(45deg);
  -o-transform: skewY(45deg);
  -ms-transform: skewY(45deg);
  transform: skewY(45deg);
}
.b41-btn-terminos {
  position: absolute;
  right: 10px;
  top: -23px;
  color: #00dfb9;
  font-size: 13px;
  font-family: t-17;
  letter-spacing: 0.1px;
}
.b41-wrap {
  width: 630px;
  background: #fff;
  margin: auto;
  margin-right: 0;
  padding: 40px;
  padding-top: 50px;
  padding-bottom: 60px;
  position: relative;
}
.b41-img {
  position: absolute;
  left: -150px;
  top: -30px;
}
.b41-text {
  text-align: left;
  width: 300px;
  margin: auto;
  font-size: 14px;
  margin-bottom: 50px;
  padding-left: 20px;
}
.b41-form {
  text-align: left;
}
.b41-form hr {
  margin: 35px 0;
  margin-top: 15px;
  margin-left: -20px;
  width: 106%;
}
.b41-input label,
.b41-input input {
  display: block;
  width: 100%;
}
.b41-input label {
  margin-bottom: 7px;
}
.b41-input input {
  border-radius: 8px;
  height: 44px;
  border: 1px solid #d7d6d6;
  margin-bottom: 20px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b41-input .spanf12 {
  font-size: 12px;
}
.b41-input2 {
  font-size: 0;
}
.b41-input2 .b41-input {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  width: 58%;
  margin-right: 2%;
}
.b41-input2 .b41-input:last-child {
  width: 40%;
  margin-right: 0;
}
.b41-input2 .b41-input span {
  font-size: 11px;
  color: #ff007c;
}
.b41-input2.contacto .b41-input {
  width: 49%;
  margin-right: 2%;
}
.b41-input2.contacto .b41-input:last-child {
  margin-right: 0;
}
.b41-input3 {
  font-size: 0;
}
.b41-input3 .b41-input {
  width: 28%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
}
.b41-input3 .b41-input:last-child {
  margin-right: 0;
  position: relative;
}
.b41-input3 .b41-input:last-child:before {
  position: absolute;
  content: "\e903";
  font-family: 'icomoon';
  right: 10px;
  top: 23px;
  bottom: 0;
  margin: auto;
  height: 13px;
  font-size: 16px;
  pointer-events: none;
}
.b41-input3 .b41-input select {
  border-radius: 8px;
  height: 44px;
  border: 1px solid #d7d6d6;
  width: 100%;
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #d7d6d6;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b41-terminos {
  font-size: 11px;
}
.b41-terminos input {
  display: none;
}
.b41-terminos label {
  padding-left: 30px;
  display: block;
  position: relative;
}
.b41-terminos label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  border: 1px solid #d7d6d6;
  border-radius: 20px;
}
.b41-terminos label:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #ff007c;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b41-terminos input[type="checkbox"]:checked + label:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b41-terminos input {
  display: none;
}
.b41-lightbox {
  background: rgba(1,1,1,0.5);
  position: absolute;
  top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: 1.1s ease-in;
  -moz-transition: 1.1s ease-in;
  -o-transition: 1.1s ease-in;
  -ms-transition: 1.1s ease-in;
  transition: 1.1s ease-in;
}
.b41-lightbox.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.b41-lightbox-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  width: 2000px;
  height: 100vh;
}
.b41-lightbox-container h4 {
  font-family: t-17;
  color: #00dfb9;
  font-size: 33px;
}
.b41-lightbox-container p {
  color: #1a1a1a;
  font-size: 16px;
}
.b41-lightbox-container h3 {
  margin: 25px 0;
  margin-bottom: 23px;
  font-size: 16px;
}
.b41-lightbox-wrap {
  width: 740px;
  margin: auto;
  background: #fff;
  padding: 40px;
  padding-bottom: 20px;
}
@-moz-keyframes animationIn {
  0% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
  60% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  70% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  90% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@-webkit-keyframes animationIn {
  0% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
  60% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  70% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  90% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@-o-keyframes animationIn {
  0% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
  60% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  70% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  90% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@keyframes animationIn {
  0% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
  60% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  70% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  90% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@-moz-keyframes animationOut {
  0% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
}
@-webkit-keyframes animationOut {
  0% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
}
@-o-keyframes animationOut {
  0% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
}
@keyframes animationOut {
  0% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b5 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  overflow: hidden;
}
.b5-left {
  width: 20%;
  padding: 35px 20px;
  background: #453c37;
  color: #fff;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9;
}
.b5-left h4 {
  font-size: 34px;
  font-family: 'WorkSans-Medium', sans-serif;
  position: relative;
}
.b5-left h4:after {
  content: "\e902";
  font-family: 'icomoon';
  position: absolute;
  font-size: 7px;
  bottom: -50px;
  margin: auto;
  left: 0;
  font-size: 20px;
  height: 20px;
}
.b5-left .swiper-button-prev {
  left: 30px;
  bottom: 20px;
  top: inherit;
  border: 1px solid #fff;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
}
.b5-left .swiper-button-prev:before {
  content: "\e607";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'icomoon';
  font-size: 50px;
  margin: auto;
  height: 50px;
  width: 50px;
}
.b5-left .swiper-button-next {
  left: 91px;
  bottom: 20px;
  top: inherit;
  border: 1px solid #fff;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
}
.b5-left .swiper-button-next:before {
  content: "\e606";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'icomoon';
  font-size: 50px;
  margin: auto;
  height: 50px;
  width: 50px;
}
.b5-right {
  width: 80%;
}
.b5-card {
  border-right: 1px solid #000;
  height: 93%;
  padding: 30px 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 400px;
}
.b5-card-title p {
  font-family: 'WorkSans-SemiBold', sans-serif;
  font-size: 24px;
  text-align: left;
  color: #746f6f;
}
.b5-card-title h4 {
  font-family: 'Cinzel-Bold', sans-serif;
  font-size: 24px;
  color: #000;
  text-align: left;
  margin-bottom: 90px;
  line-height: 1.2;
  letter-spacing: 1px;
}
.b5-card-title a {
  border: 1px solid #000;
  padding: 20px;
  display: inline-block;
  color: #191919;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 120px;
  text-align: center;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b5-card-title a:hover {
  background: #000;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .b5-left {
    width: 25%;
  }
  .b5-right {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .b5 {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .b5-left {
    width: 100%;
  }
  .b5-left h4:after {
    left: 310px;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  .b5-left h4 br {
    display: none;
  }
  .b5-left .swiper-button-next {
    left: inherit;
    right: 30px;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  .b5-left .swiper-button-prev {
    left: inherit;
    right: 91px;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  .b5-right {
    width: 100%;
  }
  .b5-card {
    min-height: 370px;
  }
}
@media screen and (max-width: 550px) {
  .b5-left h4 {
    font-size: 25px;
    margin-bottom: 0;
  }
  .b5-left h4 br {
    display: block;
  }
  .b5-left h4:after {
    left: 130px;
  }
  .b5-left .swiper-button-next {
    padding: 20px;
  }
  .b5-left .swiper-button-next:before {
    font-size: 40px;
    height: 40px;
    width: 40px;
  }
  .b5-left .swiper-button-prev {
    padding: 20px;
    right: 71px;
  }
  .b5-left .swiper-button-prev:before {
    font-size: 40px;
    height: 40px;
    width: 40px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b20 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.b20 .cnt-map .box-map {
  width: 100%;
  height: 375px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.b20 .cnt-map .map {
  width: 100%;
  height: 100%;
}
.b20 .cnt-map .abrir-map,
.b20 .cnt-map .cerrar-map {
  display: none;
  height: 33px;
  line-height: 33px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  font-family: 'ubuntumedium', sans-serif;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  padding: 0 15px;
}
.b20 .cnt-map .abrir-map:hover {
  background: #00aa4a;
}
.b20 .cnt-map .cerrar-map:hover {
  background: #ab7a37;
  color: #fff;
}
.b20 .cnt-map .cerrar-map {
  width: 115px;
  position: absolute;
  right: 0px;
  left: 0;
  bottom: 30px;
  margin: auto;
  z-index: 100;
  background: #00aa4a;
  color: #fff;
  border: none;
}
@media screen and (max-width: 768px) {
  .b20 {
    background: #896251;
    padding: 70px 0;
  }
  .b20 .cnt-map {
    position: relative;
    text-align: center;
  }
  .b20 .cnt-map .abrir-map {
    display: inline-block;
  }
  .b20 .cnt-map .cerrar-map {
    display: inline-block;
  }
  .b20 .cnt-map .box-map {
    position: fixed;
    top: -100%;
    left: 0;
    height: 100%;
  }
  .b20 .cnt-map .anima-map {
    top: 0;
    z-index: 4000;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b7.bg {
  background: url("../media/investigaciones/bg-investigacion.png") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 350px;
}
@media screen and (max-width: 650px) {
  .b7.bg {
    height: 250px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b8.breadcrumbs {
  text-align: right;
  font-family: 'WorkSans-Regular', sans-serif;
  font-size: 16px;
  color: #000;
  padding-top: 15px;
  padding-bottom: 30px;
}
.b8.breadcrumbs span {
  font-size: 10px;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b9 {
  color: #333;
  padding-bottom: 40px;
}
.b9 h2 {
  font-family: 'WorkSans-Medium', sans-serif;
  font-size: 34px;
  margin-bottom: 40px;
}
.b9 p {
  font-size: 18px;
  font-family: 'WorkSans-Regular', sans-serif;
  line-height: 1.5;
  padding-bottom: 35px;
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
}
.b9-menu.b4-text {
  margin: 0;
  text-align: center;
}
.b9 .b9-menu-text {
  display: inline-block;
  vertical-align: middle;
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.footer {
  background: #0b7539;
  color: #fff;
  padding-top: 30px;
  position: relative;
}
.footer-logo {
  display: inline-block;
  width: 250px;
  margin-left: 30px;
}
.footer-logo:before {
  content: "";
  background: #fff;
  height: 2px;
  width: 25%;
  position: absolute;
  top: 110px;
  left: 0;
}
.footer-logo img {
  max-width: 100%;
  height: auto;
  display: block;
}
.footer-items {
  font-size: 0;
  margin-top: -10px;
  padding-bottom: 30px;
}
.footer-item {
  font-size: 16px;
  font-family: 'WorkSans-Regular', sans-serif;
  display: inline-block;
  vertical-align: bottom;
  width: 29%;
}
.footer-item:nth-child(2) {
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer-item p {
  margin-bottom: 10px;
}
.footer-item.botones {
  width: 13%;
}
.footer-item.botones a {
  display: block;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: #0b7539;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Cinzel-Regular', sans-serif;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.footer-item.botones a:hover {
  background: #fff;
  color: #0b7539;
}
.footer-logos {
  background: #fff;
  padding: 10px 0;
  overflow: hidden;
}
.footer-copy {
  text-align: center;
  font-family: 'WorkSans-Regular', sans-serif;
  font-size: 15px;
  background: #042d16;
  padding: 15px;
}
.footer-copy p {
  margin-bottom: 0;
}
@media screen and (max-width: 960px) {
  .footer-item {
    width: 50%;
    margin-bottom: 20px;
  }
  .footer-item.botones {
    width: 50%;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer-item br {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    text-align: center;
  }
  .footer-logo {
    margin: auto;
  }
  .footer-logo:before {
    right: 0;
    margin: auto;
  }
  .footer-item {
    width: 100%;
  }
  .footer-item:nth-child(1) {
    margin-top: 50px;
  }
  .footer-item.botones {
    width: 100%;
    padding-left: 0px;
  }
  .footer-items {
    padding-bottom: 0;
  }
}
.footer-dace .footer {
  background: #4952b8;
}
.footer-dace .footer .botones a {
  background: #4952b8;
}
.footer-dace .footer-copy {
  background: #282c56;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 210px;
  background: -webkit-linear-gradient(bottom, rgba(10,10,10,0), rgba(0,0,0,0.4));
  background: -moz-linear-gradient(bottom, rgba(10,10,10,0), rgba(0,0,0,0.4));
  background: -o-linear-gradient(bottom, rgba(10,10,10,0), rgba(0,0,0,0.4));
  background: -ms-linear-gradient(bottom, rgba(10,10,10,0), rgba(0,0,0,0.4));
  background: linear-gradient(to top, rgba(10,10,10,0), rgba(0,0,0,0.4));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -1;
}
.header.active {
  background: #0d7439;
}
.header.active:before {
  display: none;
}
.header.active .headerFirst {
  display: none;
}
.header.active .header-main {
  margin-top: 0;
}
.header.active .header-logo {
  margin: 10px 0;
}
.header.active .header-logo img {
  width: 170px;
  margin-left: 0;
}
.headerFirst {
  font-size: 0;
}
.headerFirst-left {
  width: 50%;
  font-size: 12px;
  font-family: 'WorkSans-Regular', sans-serif;
  display: inline-block;
  vertical-align: middle;
}
.headerFirst-left a {
  padding: 10px;
  padding-left: 0;
}
.headerFirst-right {
  width: 50%;
  font-size: 0;
  font-family: 'WorkSans-Regular', sans-serif;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
.headerFirst-right p {
  margin-bottom: 0;
}
.headerFirst-bolsa {
  font-family: 'WorkSans-Medium', sans-serif;
  font-size: 18px;
  padding: 7px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #00aa4a;
  display: inline-block;
  vertical-align: middle;
}
.headerFirst-unas {
  display: inline-block;
  vertical-align: middle;
  background: #21180f;
  padding: 7px 10px;
}
.headerFirst-unas span {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}
.headerFirst-unas a {
  font-size: 19px;
  font-family: 'WorkSans-Bold', sans-serif;
  display: inline-block;
  vertical-align: middle;
}
.header-main {
  font-size: 0;
  margin-top: 20px;
}
.header-logo {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.header-logo img {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.headerMenu {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  font-size: 14px;
  font-family: 'WorkSans-Medium', sans-serif;
  text-align: right;
}
.headerMenu-link {
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  transition: all 0.45s ease;
  background: #000;
}
.menu-overlay.active {
  z-index: 1000;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.menu-mobile-close,
.menu-mobile-open {
  background-color: #cc5d40;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  position: fixed;
  right: 5px;
  text-align: center;
  top: 10px;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  transition: all 0.45s ease;
  width: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.menu-mobile-close:before,
.menu-mobile-open:before {
  color: #fff;
}
.menu-mobile-open {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 1004;
  background: transparent;
  right: 0;
  top: 20px;
  padding: 13px;
}
.menu-mobile-open.scrolling {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.menu-mobile-open:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.menu-mobile-open.active {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 1000;
}
.menu-mobile-close {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 9999;
  color: #fff;
  background: #00aa4a;
  right: 0;
  top: 30px;
  padding: 13px;
}
.menu-mobile-close.active {
  right: 242px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.menu-mobile-close.active {
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.menu-sidebar {
  width: 240px;
  height: 100%;
  overflow: auto;
  position: inherit;
  top: 0;
  right: -240px;
  background: #262626;
  color: #fff;
  z-index: 9999;
  -webkit-transition: left 0.45s ease;
  -moz-transition: left 0.45s ease;
  -o-transition: left 0.45s ease;
  -ms-transition: left 0.45s ease;
  transition: left 0.45s ease;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  display: none;
}
.menu-sidebar.active {
  right: 0;
  position: absolute;
  display: block;
}
@media screen and (max-width: 960px) {
  .header-main {
    text-align: left;
  }
  .headerMenu,
  .headerFirst {
    display: none;
  }
  .header-logo {
    width: 200px;
  }
  .menu-wrapper .headerFirst {
    display: block;
  }
  .menu-wrapper .headerFirst-left {
    border-top: 1px solid #fff;
    width: 100%;
  }
  .menu-wrapper .headerFirst-left a {
    display: block;
    text-align: center;
  }
  .menu-wrapper .headerFirst-right {
    width: 100%;
    text-align: center;
  }
  .menu-wrapper .headerMenu {
    display: block;
    width: 100%;
  }
  .menu-wrapper .headerMenu-link {
    display: block;
    text-align: center;
  }
  .menu-mobile-open {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
  }
}
@media screen and (max-width: 650px) {
  .header {
    text-align: center;
    padding-top: 10px;
  }
  .headerFirst-left {
    width: 100%;
    margin-bottom: 10px;
  }
  .headerFirst-right {
    width: 100%;
    text-align: center;
  }
  .menu-mobile-open,
  .menu-mobile-close {
    top: 25px;
  }
}
