/********** FOOTER **********/
.footer-primary {
  background: #323232;
  padding-top: 45px;
}
.footer-logo {
  display: inline-block;
  vertical-align: top;
  margin-right: 10%;
  margin-left: 1%;
}
.footer-menu {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-size: 14px;
  margin-right: 25%;
}
.footer .menu-item {
  display: block;
}
.footer .menu-item.buscador {
  display: none;
}
.footer .menu-link {
  font-size: 14px;
  font-family: 'open_sansregular', sans-serif;
  margin-bottom: 10px;
  display: block;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  color: white;
  padding: 0;
}
.footer .menu-link.ipe-play {
  padding-left: 15px;
}
.footer .menu-link.ipe-play:before {
  left: 0;
}
.footer .menu-link.en-vivo {
  padding-left: 25px;
}
.footer .menu-link.en-vivo:before {
  left: 0;
  color: white;
}
.footer .menu-link:hover {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.footer-redes {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-size: 16px;
  margin-right: 20%;
  text-align: center;
}
.footer-redes h2 {
  font-family: 'open_sansextrabold', sans-serif;
  font-size: 20px;
}
.footer-redes-title h4 {
  font-size: inherit;
}
.footer-redes-iconos li {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  font-size: 16px;
}
.footer-redes-iconos a {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.footer-redes-iconos a:hover {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.footer-contacto {
  display: inline-block;
  vertical-align: top;
  color: #fff;
}
.footer-contacto p,
.footer-contacto a,
.footer-contacto span
 {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.footer-contacto p:hover,
.footer-contacto a:hover ,
.footer-contacto span:hover {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.footer-contacto h2 {
  font-family: 'open_sansextrabold', sans-serif;
  font-size: 20px;
}
.footer-contacto-title h4 {
  font-size: inherit;
}
.footer-contacto-info li {
  margin-bottom: 10px;
}
.footer-contacto-info li:first-child span {
  width: 185px;
  display: inline-block;
}
.footer-contacto-info li:last-child span {
  padding: 0;
}
.footer-contacto-info li i {
  display: none;
}
.footer-contacto-info p,
.footer-contacto-info a, 
.footer-contacto-info span {
  font-family: 'open_sansregular', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  padding-left: 20px;
}
.footer-contacto-ubicacion {
  position: relative;
}
.footer-contacto-ubicacion:before {
  content: "\e905";
  font-family: 'icomoon';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 14px;
  color: #fff;
}
.footer-contacto-telefono {
  position: relative;
}
.footer-contacto-telefono:before {
  content: "\e90b";
  font-family: 'icomoon';
  position: absolute;
  top: 3px;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 14px;
  color: #fff;
}
.footer-contacto-correo {
  position: relative;
}
.footer-contacto-correo:before {
  content: "\e90a";
  font-family: 'icomoon';
  position: absolute;
  top: 4px;
  bottom: 0;
  left: -5px;
  margin: auto;
  font-size: 14px;
  color: #fff;
}
.footer {
  color: #fff;
}
.footer .pb50 {
  padding-bottom: 50px;
}
.footer .pb30 {
  padding-bottom: 30px;
}
.footer-creditos {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}
.footer-creditos p {
  margin-bottom: 0;
}
.footer-terminos {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  font-size: 13px;
}
.creditos-tvperu {
  background: #252525;
  padding: 10px;
  font-size: 13px;
}
.creditos-tvperu img,
.creditos-tvperu p {
  display: inline-block;
  vertical-align: middle;
}
.creditos-tvperu p {
  margin-bottom: 0;
  margin-left: 10px;
}
.footer-copy {
  overflow: hidden;
  font-size: 13px;
  height: 32px;
  display: none;
}
.footer-copy .wancho {
  overflow: hidden;
  margin-top: 9px;
}
.footer-copy-left {
  float: left;
}
.footer-copy-left p {
  margin: 0;
}
.footer-copy-right {
  float: right;
}
@media screen and (max-width: 1180px) {
  .footer-menu {
    margin-right: 22%;
  }
  .footer-redes {
    margin-right: 18%;
  }
  .footer-redes-iconos li:first-child span {
    padding: 0;
  }
}
@media screen and (max-width: 1080px) {
  .footer-menu {
    display: none;
  }
  .footer-logo {
    margin: auto;
    width: 25%;
    margin-left: 2%;
  }
  .footer-redes {
    margin: auto;
    width: 50%;
  }
  .footer-contacto {
    margin: auto;
    width: 20%;
    text-align: right;
  }
  .footer-contacto-info li {
    display: inline-block;
  }
}
@media screen and (max-width: 768px) {
  .footer-logo {
    width: 100%;
    margin-left: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .footer-redes {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .footer-contacto {
    width: 100%;
    text-align: center;
  }
  .footer-contacto-info li {
    width: 50%;
  }
  .footer-contacto-info p,
  .footer-contacto-info a,
  .footer-contacto-ubicacion:before,
  .footer-contacto-telefono:before,
  .footer-contacto-correo:before {
    display: block;
    padding-left: 8px;
  }
  .footer-contacto-ubicacion:before,
  .footer-contacto-telefono:before,
  .footer-contacto-correo:before {
    position: inherit;
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .footer-creditos,
  .footer-terminos {
    width: 100%;
    text-align: center;
    display: block;
  } 
  .creditos-tvperu img,
  .creditos-tvperu p {
    display: block;
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 480px) {
  .footer-redes li {
    font-size: 22px;
  }
}
@media screen and (max-width: 620px) {
  .footer-copy {
    height: auto;
    text-align: center;
    font-size: 12px;
    margin: auto;
    padding: 8px 0 12px;
  }
  .footer-copy-left {
    float: none;
  }
  .footer-copy-right {
    float: none;
  }
}
/********** FOOTER **********/