/* normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
/* 1 */
  -webkit-text-size-adjust: 100%;
/* 2 */
  -ms-text-size-adjust: 100%;
/* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
/* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit;
/* 1 */
  font-size: 100%;
/* 2 */
  margin: 0;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
/* 2 */
  cursor: pointer;
/* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
/* 2 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
h7 p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu,
details {
  margin: auto;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  font-family: Verdana;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h2 {
  margin: 0 0 10px;
  font-size: 38px;
  line-height: 1;
  font-weight: bold;
}
h3 {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 1;
}
h4 {
  padding: 0;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1;
}
h5 {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}
h6 {
  font-size: 16px;
  font-size: 18px;
  line-height: 1;
}
a img {
  border: none;
}
p {
  margin: 0 0 15px;
}
li {
  list-style: none;
}
em,
cite {
  font-style: normal;
}
strong {
  font-weight: bold;
}
label {
  cursor: pointer;
}
textarea {
  font-family: Arial, sans-serif;
  resize: none;
}
input[type="submit"] {
  cursor: pointer;
}
:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
}
table,
th,
td {
  vertical-align: middle;
}
br {
  line-height: 1;
}
@font-face {
  font-family: 'Cinzel-Regular';
  src: url("../fonts/Cinzel-Regular.eot");
  src: local('☺'), url("../fonts/Cinzel-Regular.woff") format('woff'), url("../fonts/Cinzel-Regular.ttf") format('truetype'), url("../fonts/Cinzel-Regular.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cinzel-Bold';
  src: url("../fonts/Cinzel-Bold.eot");
  src: local('☺'), url("../fonts/Cinzel-Bold.woff") format('woff'), url("../fonts/Cinzel-Bold.ttf") format('truetype'), url("../fonts/Cinzel-Bold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans-Regular';
  src: url("../fonts/WorkSans-Regular.eot");
  src: local('☺'), url("../fonts/WorkSans-Regular.woff") format('woff'), url("../fonts/WorkSans-Regular.ttf") format('truetype'), url("../fonts/WorkSans-Regular.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans-Bold';
  src: url("../fonts/WorkSans-Bold.eot");
  src: local('☺'), url("../fonts/WorkSans-Bold.woff") format('woff'), url("../fonts/WorkSans-Bold.ttf") format('truetype'), url("../fonts/WorkSans-Bold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans-Medium';
  src: url("../fonts/WorkSans-Medium.eot");
  src: local('☺'), url("../fonts/WorkSans-Medium.woff") format('woff'), url("../fonts/WorkSans-Medium.ttf") format('truetype'), url("../fonts/WorkSans-Medium.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans-SemiBold';
  src: url("../fonts/WorkSans-SemiBold.eot");
  src: local('☺'), url("../fonts/WorkSans-SemiBold.woff") format('woff'), url("../fonts/WorkSans-SemiBold.ttf") format('truetype'), url("../fonts/WorkSans-SemiBold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?dxhqui");
  src: url("../fonts/icomoon.eot?dxhqui#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?dxhqui") format('truetype'), url("../fonts/icomoon.woff?dxhqui") format('woff'), url("../fonts/icomoon.svg?dxhqui#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow:before {
  content: "\e900";
  color: #5e5e5e;
}
.icon-flecha-3:before {
  content: "\e901";
  color: #5e5e5e;
}
.icon-flecha:before {
  content: "\e902";
  color: #5e5e5e;
}
.icon-sanguchito:before {
  content: "\e903";
  color: #5e5e5e;
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.wancho {
  width: 96%;
  max-width: 1170px;
  margin: auto;
}
body {
  font-size: 15px;
  font-family: 'Cinzel-Regular', sans-serif;
  color: #00aa4a;
}
a {
  color: inherit;
}
a:focus {
  outline: none;
}
.link:hover {
  text-decoration: underline;
  color: #000;
}
.relative {
  position: relative;
}
.left {
  float: left;
}
.right {
  float: right;
}
.envolve {
  overflow: hidden;
}
.child-ib>* {
  display: inline-block;
  vertical-align: top;
}
.no-style {
  line-height: 1.4;
}
.g-text p {
  margin-bottom: 0;
  margin-top: s-5;
  line-height: 1.2;
}
.g-text p:first-child {
  margin-top: 0;
}
