<div class="footer">
	<div class="wancho">
		<figure class="footer-logo">
			<img src="../static/media/FCEA-logo.png" alt="">
		</figure>
		<div class="footer-items">
			<div class="footer-item">
				<p>
					Carretera Central KM. 1.21. <br> Tingo María
				</p>
				<p>
					Teléfono: 062-562343
				</p>
				<p>
					Correo: webmaster@unas.edu.pe
				</p>
			</div>
			<div class="footer-item">
				<p>
					Sobre el FCEA
				</p>
				<p>
					Escuelas Académicas
				</p>
				<p>
					Investigación
				</p>
				<p>
					Post-Grado
				</p>
				<p>
					Servicios
				</p>
			</div>
			<div class="footer-item">
				<p>
					¿Por qué estudiar
					<br>Administración?
				</p>
				<p>
					¿Por qué estudiar
					<br>Economía?
				</p>
				<p>
					Campo Laboral
				</p>
				<p>
					Bolsa de trabajo
				</p>
			</div>
			<div class="footer-item botones">
				<a href="">SUSCRÍBETE</a>
				<a href="">ADMISIÓN</a>
			</div>
		</div>
	</div>
	<div class="footer-logos">
		<div class="wancho">
			<div class="swiper-containerFooter">
			    <div class="swiper-wrapper">
			      <div class="swiper-slide">
			      	<img src="../static/media/sunedu.png" alt="">
			      </div>
			      <div class="swiper-slide">
			      	<img src="../static/media/ministerio-educacion.png" alt="">
			      </div>
			      <div class="swiper-slide">
			      	<img src="../static/media/universia.png" alt="">
			      </div>
			      <div class="swiper-slide">
			      	<img src="../static/media/portal-estado-peruano.png" alt="">
			      </div>
			      <div class="swiper-slide">
			      	<img src="../static/media/trabajando.png" alt="">
			      </div>
			    </div>
			  </div>
		</div>
	</div>
	<div class="footer-copy">
		<div class="wancho">
			<p>
				Universidad Nacional Agraria de la Selva, Facultad de Ciencias Económicas y Administración. © Todos los derechos reservados 2018
			</p>
		</div>
	</div>
</div>