<header class="header">
	<div class="wancho">
		<div class="headerFirst">
			<div class="headerFirst-left">
				<a href="">Directorio</a>
				<a href="">Transparencia</a>
				<a href="">Correo Corporativo</a>
			</div>
			<div class="headerFirst-right">
				<a href="" class="headerFirst-bolsa">Bolsa de trabajo</a>
				<p class="headerFirst-unas">
					<span>visitar</span>
					<a href="">UNAS</a>
				</p>
			</div>
		</div>
		<div class="header-main">
			<a href="" class="header-logo">
				<img src="../static/media/FCEA-logo.png" alt="">
			</a>
			<div class="headerMenu">
				<a href="" class="headerMenu-link">Sobre FCA</a>
				<a href="" class="headerMenu-link">Escuelas academicas</a>
				<a href="" class="headerMenu-link">Investigación</a>
				<a href="" class="headerMenu-link">Postgrado</a>
				<a href="" class="headerMenu-link">Servicios</a>
			</div>
		</div>
	</div>
</header>