{% extends "common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/swiper.min.css">
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<div class="b1">
  <div class="fff" style="position: relative; z-index: 9; height: 90vh;">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide uno" style="background-image: url(../static/media/bg-1.jpg)">
        </div> 
        <div class="swiper-slide uno" style="background-image: url(../static/media/bg-1.jpg)">
        </div>
        <div class="swiper-slide uno" style="background-image: url(../static/media/bg-1.jpg)">
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <a href="" class="web-library">
        <img src="{{ STATIC_URL }}media/web-library.png" alt="">
      </a>
    </div>
  </div>
</div>

<!-- BLOQUE 1
<div class="b1">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide uno" style="background-image: url(../static/media/bg-1.jpg)">
      </div>
      <div class="swiper-slide uno" style="background-image: url(../static/media/bg-1.jpg)">
      </div>
      <div class="swiper-slide uno" style="background-image: url(../static/media/bg-1.jpg)">
      </div>
    </div>
    <!-- Add Pagination
    <div class="swiper-pagination"></div>
    <a href="" class="web-library">
      <img src="{{ STATIC_URL }}media/web-library.png" alt="">
    </a>
  </div>
</div>-->

<!-- BLOQUE 2 -->
<section class="b2">
  <div class="b2-left">
    <div class="b2-left-box">
      <h4>
        ESCUELAS <strong>ACADÉMICAS</strong>
      </h4>
      <a href="">ADMINISTRACIÓN</a>
      <a href="">CONTABILIDAD</a>
    </div>
  </div>
  <div class="b2-right  ">
    <div class="b2-right-box">
      <h4>
        POST- <strong>GRADO <span class="icon-flecha"></span></strong>
      </h4>
      <a href="">MAESTRÍAS</a>
      <a href="">DIPLOMADOS</a>
    </div>
  </div>
</section>

<!-- BLOQUE 3 -->
<div class="b3">
  <div class="b3-container">
    <div class="swiper-container2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="b3-card">
            <div class="b3-card-title">
              <h4>
                Pronto cierran las adminisiones de Postgrado
              </h4>
              <p>
                20 enero 2018
              </p>
            </div>
            <div class="b3-card-description">
              <p>
                Fast track your career or start a new one with a postgraduate qualification. Tailor postgraduate study to fit your goals with our graduate certificates, graduate diplomas and masters degrees. Applications closing soon for semester 1 2018.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="b3-card">
            <div class="b3-card-title">
              <h4>
                Pronto cierran las adminisiones de Postgrado
              </h4>
              <p>
                20 enero 2018
              </p>
            </div>
            <div class="b3-card-description">
              <p>
                Fast track your career or start a new one with a postgraduate qualification. Tailor postgraduate study to fit your goals with our graduate certificates, graduate diplomas and masters degrees. Applications closing soon for semester 1 2018.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="b3-card">
            <div class="b3-card-title">
              <h4>
                Pronto cierran las adminisiones de Postgrado
              </h4>
              <p>
                20 enero 2018
              </p>
            </div>
            <div class="b3-card-description">
              <p>
                Fast track your career or start a new one with a postgraduate qualification. Tailor postgraduate study to fit your goals with our graduate certificates, graduate diplomas and masters degrees. Applications closing soon for semester 1 2018.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="b3-card">
            <div class="b3-card-title">
              <h4>
                Pronto cierran las adminisiones de Postgrado
              </h4>
              <p>
                20 enero 2018
              </p>
            </div>
            <div class="b3-card-description">
              <p>
                Fast track your career or start a new one with a postgraduate qualification. Tailor postgraduate study to fit your goals with our graduate certificates, graduate diplomas and masters degrees. Applications closing soon for semester 1 2018.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BLOQUE 4 -->
<section class="b4">
  <div class="b4-left">
    <figure class="b4-figure">
      <img src="{{ STATIC_URL }}media/estudiante.jpg" alt="">
    </figure>
  </div>
  <div class="b4-right">
    <div class="b4-text">
      <h4>
        Investigación <br>
        PARA el <br>
        PROGRESO
      </h4>
      <p>
        Realiza tus investigaciones para <br>
        tesis y proyectos en nuestro campus
      </p>
      <a href="">PUBLICACIONES</a>
      <a href="">PLAN DE ESTUDIOS</a>
    </div>
  </div>
</section>

<!-- BLOQUE 5 -->
<section class="b5">
  <div class="b5-left">
    <h4>
      Próximos <br> eventos
    </h4>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="b5-right">
    <div class="swiper-container3">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="b5-card">
              <div class="b5-card-title">
                <p>
                  20 de enero
                </p>
                <h4>
                  Foculs! Festival 2018 · China today: A Festival of Chinese Composition
                </h4>
                <a href="">
                  ver detalles
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="b5-card">
              <div class="b5-card-title">
                <p>
                  20 de enero 
                </p>
                <h4>
                  Pronto cierran las adminisiones de Postgrado
                </h4>
                <a href="">
                  ver detalles
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="b5-card">
              <div class="b5-card-title">
                <p>
                  20 de enero 
                </p>
                <h4>
                  Pronto cierran las adminisiones de Postgrado
                </h4>
                <a href="">
                  ver detalles
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="b5-card">
              <div class="b5-card-title">
                <p>
                  20 de enero 
                </p>
                <h4>
                  Pronto cierran las adminisiones de Postgrado
                </h4>
                <a href="">
                  ver detalles
                </a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
  </div>
</section>

<!-- BLOQUE 6 -->
<section class="b20">
  <div class="cnt-map">
      <div class="abrir-map">Ver mapa</div>
      <div class="box-map">
        <div class="map" id="google-maplima"></div>
        <div class="cerrar-map">Cerrar mapa</div>
      </div>
    </div>
</section>

{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/swiper.min.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
  $(function(){

    var swiper = new Swiper('.swiper-container', {
      direction: 'vertical',
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });

    var swiper = new Swiper('.swiper-container2', {
      slidesPerView: 3,
      spaceBetween: 25,
      loop: true,
      breakpoints: {
        960: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        }
      }
    });

    var swiper = new Swiper('.swiper-container3', {
        slidesPerView: 3,
        loop: true,
        breakpoints: {
          960: {
            slidesPerView: 2,
          },
          550: {
            slidesPerView: 1,
          }
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
    });

    var swiper = new Swiper('.swiper-containerFooter', {
        slidesPerView: 5,
        autoplay: {
          delay: 10000,
          disableOnInteraction: false,
        },
        breakpoints: {
          990: {
            slidesPerView: 4,
             autoplay: {
              delay: 2500,
              disableOnInteraction: false,
            },
          },
          820: {
            slidesPerView: 3,
          },
          600: {
            slidesPerView: 2,
          },
          440: {
            slidesPerView: 1,
          }
        }
    });



    function initMap() {
      var $map = $( '#google-maplima' );
      if ( ! $map.length ) return;
      var myLatlng = new google.maps.LatLng(-12.263138, -76.906765); 
      var mapOptions = {
      zoom             : 15,
      center           : myLatlng,
      mapTypeControl   : true,
      disableDefaultUI : true,
      zoomControl      : true,
      scrollwheel      : false,
      // styles           : styles,
      draggable        : true
      }
      var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          icon:"/static/img/b20-map.png",
      });
    }
    google.maps.event.addDomListener(window, 'load', initMap),

    // script para mapa responsive

    $(".cnt-map .abrir-map").click(function(event) {
        $(".box-map").addClass('anima-map');
    });

    $(".cnt-map .cerrar-map").click(function(event) {
        $(".box-map").removeClass('anima-map');
    });
        // 

  });
</script>
{% endblock %}