{% extends "common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/swiper.min.css">
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 7 -->
<div class="b7 bg">
</div>

<!-- BLOQUE 8 -->
<section class="b8 breadcrumbs">
	<div class="wancho">
		<a href="">Inicio</a>
		<span class="icon-flecha-3"></span>
		<a href="">Investigación</a>
	</div>
</section>

<!-- BLOQUE 9 -->
<section class="b9">
	<div class="wancho">
		<h2>
			Investiga en nuestra facultad
		</h2>
		<p>
			Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. 
		</p>
		<div class="b9-menu">
			<div class="b9-menu b4-text">
				<p class="b9-menu-text">
					Revisa las publicaciones disponibles:
				</p>
				<a href="">
					PUBLICACIONEs
				</a>
				<a href="">
					PLAN DE ESTUDIOS
				</a>
			</div>
		</div>
	</div>
</section>

<!-- BLOQUE 10 -->
<section class="b10">
	<figure class="b4-left">
		<img src="{{ STATIC_URL }}media/investigaciones/testimonio.jpg" alt="">
	</figure>
	<div class="b4-right">
		<div class="b4-text">
			<h4>
				“Duis ornare, velit nec pellentesque condimentum, turpis nisi iaculis purus, id dictum sem felis id turpis. Ut quis volutpat lacus. Cras accumsan orci quis eros fringilla, malesuada vehicula risus malesuada”
			</h4>
			<p class="b10-nombre">
				- ANDRÉS CARVALLO
			</p>
			<p class="b10-cargo">
				RECTOR ACADÉMICO
			</p>
		</div>       
	</div>
</section>

<!-- BLOQUE 11 -->
<section class="b11">
	<div class="b11-box">
		<p>
			WEB <br>
			<strong>LIBRARY</strong>
		</p>
		<a href="">
			INGRESA AQUÍ
		</a>
	</div>
</section>


{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){

  });
</script>
{% endblock %}