{% extends "common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/swiper.min.css">
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 14 -->
<section class="b14">
  <div class="wancho">
    <h1>
      post-
      <strong>
        grado
      </strong>
    </h1>
    <a href="">
      MAESTRÍAS
    </a>
    <a href="">
      DIPLOMADOS
    </a>
  </div>
</section>


<!-- BLOQUE 8 -->
<section class="b8 breadcrumbs">
  <div class="wancho">
    <a href="">Inicio</a>
    <span class="icon-flecha-3"></span>
    <a href="">Postgrado</a>
  </div>
</section>


<div class="b13">
  <div class="wancho">
    <div id="tabs">
      <ul class="b13-header">
        <li>
          <a href="#tabs-1">ACERCA de la escuela</a>
        </li>
        <li>
          <a href="#tabs-2">plan de estudios</a>
        </li>
        <li>
          <a href="#tabs-3">currícula</a>
        </li>
      </ul>
      <div class="b13-body wancho">
        <div id="tabs-1"">
          <h3>
          Escuela de Post-grado
          </h3>
          <p>
          Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. Aenean mi ex, vehicula eget risus ut, pretium tristique sapien. Aenean vitae magna tempor, gravida urna in, placerat dui. Mauris a feugiat massa. Phasellus scelerisque feugiat euismod. Morbi ac dolor vehicula, elementum augue at, pharetra nunc. Phasellus quis egestas nibh, eu tempus eros. Morbi quis pellentesque est. Ut pulvinar ante nunc, a suscipit erat feugiat eu. Sed placerat, justo ut interdum mollis, enim erat molestie sapien, et hendrerit enim dolor eu justo.
          </p>
        </div>
        <div id="tabs-2">
          <h3>
          ¿Qué necesito saber antes?2
          </h3>
          <p>
          Phasellus vitae aliquet nibh, eget fermentum mi. Praesent porttitor feugiat quam, ut viverra nisi tristique at. Suspendisse pretium, neque quis lobortis pulvinar, tellus lacus blandit eros, a dapibus mi turpis sit amet eros. Vestibulum volutpat arcu et vehicula molestie. In blandit eros viverra lobortis luctus. Sed metus eros, aliquam interdum quam ac, finibus ullamcorper diam. Aliquam ac purus vel dui dictum malesuada sit amet tincidunt diam. Nam sit amet mi suscipit, viverra sem eleifend, viverra ligula. Donec nisi magna, laoreet eu posuere non, molestie ut dolor.
          <br><br>
          Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. Aenean mi ex, vehicula eget risus ut, pretium tristique sapien. Aenean vitae magna tempor, gravida urna in, placerat dui. Mauris a feugiat massa. Phasellus scelerisque feugiat euismod. Morbi ac dolor vehicula, elementum augue at, pharetra nunc. Phasellus quis egestas nibh, eu tempus eros. Morbi quis pellentesque est. Ut pulvinar ante nunc, a suscipit erat feugiat eu. Sed placerat, justo ut interdum mollis, enim erat molestie sapien, et hendrerit enim dolor eu justo.
          </p>
        </div>
        <div id="tabs-3">
          <h3>
            ¿Qué necesito saber antes?3
          </h3>
          <p>
            Phasellus vitae aliquet nibh, eget fermentum mi. Praesent porttitor feugiat quam, ut viverra nisi tristique at. Suspendisse pretium, neque quis lobortis pulvinar, tellus lacus blandit eros, a dapibus mi turpis sit amet eros. Vestibulum volutpat arcu et vehicula molestie. In blandit eros viverra lobortis luctus. Sed metus eros, aliquam interdum quam ac, finibus ullamcorper diam. Aliquam ac purus vel dui dictum malesuada sit amet tincidunt diam. Nam sit amet mi suscipit, viverra sem eleifend, viverra ligula. Donec nisi magna, laoreet eu posuere non, molestie ut dolor.
            <br><br>
            Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. Aenean mi ex, vehicula eget risus ut, pretium tristique sapien. Aenean vitae magna tempor, gravida urna in, placerat dui. Mauris a feugiat massa. Phasellus scelerisque feugiat euismod. Morbi ac dolor vehicula, elementum augue at, pharetra nunc. Phasellus quis egestas nibh, eu tempus eros. Morbi quis pellentesque est. Ut pulvinar ante nunc, a suscipit erat feugiat eu. Sed placerat, justo ut interdum mollis, enim erat molestie sapien, et hendrerit enim dolor eu justo.
          </p>
        </div>
      </div>
    </div>  
  </div>
</div>

<!-- BLOQUE 10 -->
<section class="b10">
  <figure class="b4-left">
    <img src="{{ STATIC_URL }}media/postgrado/postgrado-testimonio.jpg" alt="">
  </figure>
  <div class="b4-right">
    <div class="b4-text">
      <h4>
        “Duis ornare, velit nec pellentesque condimentum, turpis nisi iaculis purus, id dictum sem felis id turpis. Ut quis volutpat lacus. Cras accumsan orci quis eros fringilla, malesuada vehicula risus malesuada”
      </h4>
      <p class="b10-nombre">
        - MAXIMILIANO HIDALGO
      </p>
      <p class="b10-cargo">
        DIRECTOR DE POST GRADO
      </p>
    </div>       
  </div>
</section>

<!-- BLOQUE 15 -->
<section class="b15">
  <div class="wancho">
    <h4 class="b15-title">
      Maestrías
    </h4>
    <div class="b15-items">
      <a href="" class="b15-item">
        <figure class="b15-figure">
          <img src="{{ STATIC_URL }}media/postgrado/mba1.jpg" alt="">
          <div class="b15-figcaption">
            <p>
              <strong>mba</strong>
              administración y márketing
            </p>
            <span class="icon-flecha"></span>
          </div>
        </figure>
      </a>
      <a href="" class="b15-item">
        <figure class="b15-figure">
          <img src="{{ STATIC_URL }}media/postgrado/mba1.jpg" alt="">
          <div class="b15-figcaption">
            <p>
              <strong>mba</strong>
              administración y márketing
            </p>
            <span class="icon-flecha"></span>
          </div>
        </figure>
      </a>
      <a href="" class="b15-item">
        <figure class="b15-figure">
          <img src="{{ STATIC_URL }}media/postgrado/mba1.jpg" alt="">
          <div class="b15-figcaption">
            <p>
              <strong>mba</strong>
              administración y márketing
            </p>
            <span class="icon-flecha"></span>
          </div>
        </figure>
      </a>
      <a href="" class="b15-item">
        <figure class="b15-figure">
          <img src="{{ STATIC_URL }}media/postgrado/mba1.jpg" alt="">
          <div class="b15-figcaption">
            <p>
              <strong>mba</strong>
              administración y márketing
            </p>
            <span class="icon-flecha"></span>
          </div>
        </figure>
      </a>
      <a href="" class="b15-item">
        <figure class="b15-figure">
          <img src="{{ STATIC_URL }}media/postgrado/mba1.jpg" alt="">
          <div class="b15-figcaption">
            <p>
              <strong>mba</strong>
              administración y márketing
            </p>
            <span class="icon-flecha"></span>
          </div>
        </figure>
      </a>
    </div>
    <h4 class="b15-title">
      Diplomados
    </h4>
    <div class="b15-items">
      <a href="" class="b15-item">
        <figure class="b15-figure">
          <img src="{{ STATIC_URL }}media/postgrado/mba1.jpg" alt="">
          <div class="b15-figcaption">
            <p>
              <strong>diploma en</strong>
              administración de alimentos y bebidas
            </p>
            <span class="icon-flecha"></span>
          </div>
        </figure>
      </a>
      <a href="" class="b15-item">
        <figure class="b15-figure">
          <img src="{{ STATIC_URL }}media/postgrado/mba1.jpg" alt="">
          <div class="b15-figcaption">
            <p>
              <strong>mba</strong>
              administración y márketing
            </p>
            <span class="icon-flecha"></span>
          </div>
        </figure>
      </a>
      <a href="" class="b15-item">
        <figure class="b15-figure">
          <img src="{{ STATIC_URL }}media/postgrado/mba1.jpg" alt="">
          <div class="b15-figcaption">
            <p>
              <strong>mba</strong>
              administración y márketing
            </p>
            <span class="icon-flecha"></span>
          </div>
        </figure>
      </a>
      <a href="" class="b15-item">
        <figure class="b15-figure">
          <img src="{{ STATIC_URL }}media/postgrado/mba1.jpg" alt="">
          <div class="b15-figcaption">
            <p>
              <strong>mba</strong>
              administración y márketing
            </p>
            <span class="icon-flecha"></span>
          </div>
        </figure>
      </a>
      <a href="" class="b15-item">
        <figure class="b15-figure">
          <img src="{{ STATIC_URL }}media/postgrado/mba1.jpg" alt="">
          <div class="b15-figcaption">
            <p>
              <strong>mba</strong>
              administración y márketing
            </p>
            <span class="icon-flecha"></span>
          </div>
        </figure>
      </a>
    </div>
  </div>
</section>


{% endblock %}
{% block jsfinal %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){

    var swiper = new Swiper('.swiper-containerFooter', {
      slidesPerView: 5,
      autoplay: {
        delay: 10000,
        disableOnInteraction: false,
      },
      breakpoints: {
        990: {
          slidesPerView: 4,
           autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },
        },
        820: {
          slidesPerView: 3,
        },
        600: {
          slidesPerView: 2,
        },
        440: {
          slidesPerView: 1,
        }
      }
    });

    $("#tabs").tabs();

    var altoScroll = 0

    $(window).scroll(function() {
      altoScroll = $(window).scrollTop();
      console.log(altoScroll)
      if (altoScroll > 60) {
        $('.menu-mobile-open').addClass('scrolling');
        $('.header-ctn').addClass('active');
      }else{
        $('.menu-mobile-open').removeClass('scrolling');
        $('.header-ctn').removeClass('active');
      };
      if (altoScroll > 300) {
        $('.header2').addClass('scrolling');
      }else{
        $('.header2').removeClass('scrolling');
      };
      if (altoScroll > 115) {
        $('.header').addClass('active');
      }else{
        $('.header').removeClass('active');
      };
    });

  });
</script>
{% endblock %}