{% extends "common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/swiper.min.css">
{% endblock %}

{% block classbody %}servicios-dace footer-dace{% endblock %}

{% block content %}

<!-- BLOQUE 16 -->
<section class="b16">
  <div class="wancho">
    <div class="headerFirst">
      <div class="headerFirst-left">
        <a href="">Directorio</a>
        <a href="">Transparencia</a>
        <a href="">Correo Corporativo</a>
      </div>
      <div class="headerFirst-right">
        <a href="" class="web-library-header">
          <img src="../../static/media/dace/web-library-header.png" alt=""></a>
        <p class="headerFirst-unas">
          <span>visitar</span>
          <a href="">UNAS</a>
        </p>
      </div>
    </div>
    <div class="header-main">
      <a href="" class="header-logoAzul">
        <img src="../../static/media/dace/dace-logo.png" alt="">
      </a>
      <a href="" class="header-logo">
        <img src="../../static/media/dace/dace-logo1.png" alt="">
      </a>
    </div>
  </div>
</section>
<div class="b16-menu">
  <div class="headerMenu">
    <a href="" class="headerMenu-link">Sobre DACE</a>
    <a href="" class="headerMenu-link">Investigación</a>
    <a href="" class="headerMenu-link">Acreditación</a>
    <a href="" class="headerMenu-link">Postgrado</a>
    <a href="" class="headerMenu-link">Servicios</a>
    <a href="" class="headerMenu-link">Formación</a>
    <a href="" class="headerMenu-link">De interés</a>
  </div>
</div>


<!-- BLOQUE 8 -->
<section class="b8 breadcrumbs">
  <div class="wancho">
    <a href="">Inicio</a>
    <span class="icon-flecha-3"></span>
    <a href="">Servicios</a>
  </div>
</section>


<div class="b13">
  <div class="wancho">
    <div id="tabs">
      <ul class="b13-header">
        <h4>En esta sección</h4>
        <li>
          <a href="#tabs-1">Admisión</a>
        </li>
        <li>
          <a href="#tabs-2">Secretaría general</a>
        </li>
        <li>
          <a href="#tabs-3">Correo corporativo</a>
        </li>
        <li>
          <a href="#tabs-4">Bolsa de trabajo</a>
        </li>
        <li>
          <a href="#tabs-5">WebLibrary</a>
        </li>
        <li>
          <a href="#tabs-6">Sistema curricular</a>
        </li>
        <li>
          <a href="#tabs-7">Ayudantía de cátedra</a>
        </li>
        <li>
          <a href="#tabs-8">Prácticas Preprofesionales</a>
        </li> 
        <li>
          <a href="#tabs-9">Seguimiento curricular</a>
        </li>
        <li>
          <a href="#tabs-10">Obtención del grado</a>
        </li>
        <li>
          <a href="#tabs-11">Obtención del título</a>
        </li>
      </ul>
      <div class="b13-body wancho">
        <div id="tabs-1"">
          <h3>
          Admisión
          </h3>
          <p>
          Phasellus vitae aliquet nibh, eget fermentum mi. Praesent porttitor feugiat quam, ut viverra nisi tristique at. Suspendisse pretium, neque quis lobortis pulvinar, tellus lacus blandit eros, a dapibus mi turpis sit amet eros. Vestibulum volutpat arcu et vehicula molestie. In blandit eros viverra lobortis luctus. Sed metus eros, aliquam interdum quam ac, finibus ullamcorper diam. Aliquam ac purus vel dui dictum malesuada sit amet tincidunt diam. Nam sit amet mi suscipit, viverra sem eleifend, viverra ligula. Donec nisi magna, laoreet eu posuere non, molestie ut dolor.
          <br><br>
          Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. Aenean mi ex, vehicula eget risus ut, pretium tristique sapien. Aenean vitae magna tempor, gravida urna in, placerat dui. Mauris a feugiat massa. Phasellus scelerisque feugiat euismod. Morbi ac dolor vehicula, elementum augue at, pharetra nunc. Phasellus quis egestas nibh, eu tempus eros. Morbi quis pellentesque est. Ut pulvinar ante nunc, a suscipit erat feugiat eu. Sed placerat, justo ut interdum mollis, enim erat molestie sapien, et hendrerit enim dolor eu justo.
          </p>
          <a href="">
            Descarga el PDF explicativo
          </a>
        </div>
        <div id="tabs-2">
          <h3>
          Secretaría general
          </h3>
          <p>
          Phasellus vitae aliquet nibh, eget fermentum mi. Praesent porttitor feugiat quam, ut viverra nisi tristique at. Suspendisse pretium, neque quis lobortis pulvinar, tellus lacus blandit eros, a dapibus mi turpis sit amet eros. Vestibulum volutpat arcu et vehicula molestie. In blandit eros viverra lobortis luctus. Sed metus eros, aliquam interdum quam ac, finibus ullamcorper diam. Aliquam ac purus vel dui dictum malesuada sit amet tincidunt diam. Nam sit amet mi suscipit, viverra sem eleifend, viverra ligula. Donec nisi magna, laoreet eu posuere non, molestie ut dolor.
          <br><br>
          Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. Aenean mi ex, vehicula eget risus ut, pretium tristique sapien. Aenean vitae magna tempor, gravida urna in, placerat dui. Mauris a feugiat massa. Phasellus scelerisque feugiat euismod. Morbi ac dolor vehicula, elementum augue at, pharetra nunc. Phasellus quis egestas nibh, eu tempus eros. Morbi quis pellentesque est. Ut pulvinar ante nunc, a suscipit erat feugiat eu. Sed placerat, justo ut interdum mollis, enim erat molestie sapien, et hendrerit enim dolor eu justo.
          </p>
        </div>
        <div id="tabs-3">
          <h3>
            Correo corporativo
          </h3>
          <p>
            Phasellus vitae aliquet nibh, eget fermentum mi. Praesent porttitor feugiat quam, ut viverra nisi tristique at. Suspendisse pretium, neque quis lobortis pulvinar, tellus lacus blandit eros, a dapibus mi turpis sit amet eros. Vestibulum volutpat arcu et vehicula molestie. In blandit eros viverra lobortis luctus. Sed metus eros, aliquam interdum quam ac, finibus ullamcorper diam. Aliquam ac purus vel dui dictum malesuada sit amet tincidunt diam. Nam sit amet mi suscipit, viverra sem eleifend, viverra ligula. Donec nisi magna, laoreet eu posuere non, molestie ut dolor.
            <br><br>
            Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. Aenean mi ex, vehicula eget risus ut, pretium tristique sapien. Aenean vitae magna tempor, gravida urna in, placerat dui. Mauris a feugiat massa. Phasellus scelerisque feugiat euismod. Morbi ac dolor vehicula, elementum augue at, pharetra nunc. Phasellus quis egestas nibh, eu tempus eros. Morbi quis pellentesque est. Ut pulvinar ante nunc, a suscipit erat feugiat eu. Sed placerat, justo ut interdum mollis, enim erat molestie sapien, et hendrerit enim dolor eu justo.
          </p>
        </div>
        <div id="tabs-4">
          <h3>
            Bolsa de trabajo
          </h3>
          <p>
            Phasellus vitae aliquet nibh, eget fermentum mi. Praesent porttitor feugiat quam, ut viverra nisi tristique at. Suspendisse pretium, neque quis lobortis pulvinar, tellus lacus blandit eros, a dapibus mi turpis sit amet eros. Vestibulum volutpat arcu et vehicula molestie. In blandit eros viverra lobortis luctus. Sed metus eros, aliquam interdum quam ac, finibus ullamcorper diam. Aliquam ac purus vel dui dictum malesuada sit amet tincidunt diam. Nam sit amet mi suscipit, viverra sem eleifend, viverra ligula. Donec nisi magna, laoreet eu posuere non, molestie ut dolor.
            <br><br>
            Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. Aenean mi ex, vehicula eget risus ut, pretium tristique sapien. Aenean vitae magna tempor, gravida urna in, placerat dui. Mauris a feugiat massa. Phasellus scelerisque feugiat euismod. Morbi ac dolor vehicula, elementum augue at, pharetra nunc. Phasellus quis egestas nibh, eu tempus eros. Morbi quis pellentesque est. Ut pulvinar ante nunc, a suscipit erat feugiat eu. Sed placerat, justo ut interdum mollis, enim erat molestie sapien, et hendrerit enim dolor eu justo.
          </p>
        </div>
        <div id="tabs-5"">
          <h3>
          WebLibrary
          </h3>
          <p>
          Phasellus vitae aliquet nibh, eget fermentum mi. Praesent porttitor feugiat quam, ut viverra nisi tristique at. Suspendisse pretium, neque quis lobortis pulvinar, tellus lacus blandit eros, a dapibus mi turpis sit amet eros. Vestibulum volutpat arcu et vehicula molestie. In blandit eros viverra lobortis luctus. Sed metus eros, aliquam interdum quam ac, finibus ullamcorper diam. Aliquam ac purus vel dui dictum malesuada sit amet tincidunt diam. Nam sit amet mi suscipit, viverra sem eleifend, viverra ligula. Donec nisi magna, laoreet eu posuere non, molestie ut dolor.
          <br><br>
          Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. Aenean mi ex, vehicula eget risus ut, pretium tristique sapien. Aenean vitae magna tempor, gravida urna in, placerat dui. Mauris a feugiat massa. Phasellus scelerisque feugiat euismod. Morbi ac dolor vehicula, elementum augue at, pharetra nunc. Phasellus quis egestas nibh, eu tempus eros. Morbi quis pellentesque est. Ut pulvinar ante nunc, a suscipit erat feugiat eu. Sed placerat, justo ut interdum mollis, enim erat molestie sapien, et hendrerit enim dolor eu justo.
          </p>
        </div>
        <div id="tabs-6">
          <h3>
          Sistema curricula
          </h3>
          <p>
          Phasellus vitae aliquet nibh, eget fermentum mi. Praesent porttitor feugiat quam, ut viverra nisi tristique at. Suspendisse pretium, neque quis lobortis pulvinar, tellus lacus blandit eros, a dapibus mi turpis sit amet eros. Vestibulum volutpat arcu et vehicula molestie. In blandit eros viverra lobortis luctus. Sed metus eros, aliquam interdum quam ac, finibus ullamcorper diam. Aliquam ac purus vel dui dictum malesuada sit amet tincidunt diam. Nam sit amet mi suscipit, viverra sem eleifend, viverra ligula. Donec nisi magna, laoreet eu posuere non, molestie ut dolor.
          <br><br>
          Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. Aenean mi ex, vehicula eget risus ut, pretium tristique sapien. Aenean vitae magna tempor, gravida urna in, placerat dui. Mauris a feugiat massa. Phasellus scelerisque feugiat euismod. Morbi ac dolor vehicula, elementum augue at, pharetra nunc. Phasellus quis egestas nibh, eu tempus eros. Morbi quis pellentesque est. Ut pulvinar ante nunc, a suscipit erat feugiat eu. Sed placerat, justo ut interdum mollis, enim erat molestie sapien, et hendrerit enim dolor eu justo.
          </p>
        </div>
        <div id="tabs-7">
          <h3>
            Ayudantía de cátedra
          </h3>
          <p>
            Phasellus vitae aliquet nibh, eget fermentum mi. Praesent porttitor feugiat quam, ut viverra nisi tristique at. Suspendisse pretium, neque quis lobortis pulvinar, tellus lacus blandit eros, a dapibus mi turpis sit amet eros. Vestibulum volutpat arcu et vehicula molestie. In blandit eros viverra lobortis luctus. Sed metus eros, aliquam interdum quam ac, finibus ullamcorper diam. Aliquam ac purus vel dui dictum malesuada sit amet tincidunt diam. Nam sit amet mi suscipit, viverra sem eleifend, viverra ligula. Donec nisi magna, laoreet eu posuere non, molestie ut dolor.
            <br><br>
            Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. Aenean mi ex, vehicula eget risus ut, pretium tristique sapien. Aenean vitae magna tempor, gravida urna in, placerat dui. Mauris a feugiat massa. Phasellus scelerisque feugiat euismod. Morbi ac dolor vehicula, elementum augue at, pharetra nunc. Phasellus quis egestas nibh, eu tempus eros. Morbi quis pellentesque est. Ut pulvinar ante nunc, a suscipit erat feugiat eu. Sed placerat, justo ut interdum mollis, enim erat molestie sapien, et hendrerit enim dolor eu justo.
          </p>
        </div>
        <div id="tabs-8">
          <h3>
            Prácticas Preprofesionales
          </h3>
          <p>
            Phasellus vitae aliquet nibh, eget fermentum mi. Praesent porttitor feugiat quam, ut viverra nisi tristique at. Suspendisse pretium, neque quis lobortis pulvinar, tellus lacus blandit eros, a dapibus mi turpis sit amet eros. Vestibulum volutpat arcu et vehicula molestie. In blandit eros viverra lobortis luctus. Sed metus eros, aliquam interdum quam ac, finibus ullamcorper diam. Aliquam ac purus vel dui dictum malesuada sit amet tincidunt diam. Nam sit amet mi suscipit, viverra sem eleifend, viverra ligula. Donec nisi magna, laoreet eu posuere non, molestie ut dolor.
            <br><br>
            Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. Aenean mi ex, vehicula eget risus ut, pretium tristique sapien. Aenean vitae magna tempor, gravida urna in, placerat dui. Mauris a feugiat massa. Phasellus scelerisque feugiat euismod. Morbi ac dolor vehicula, elementum augue at, pharetra nunc. Phasellus quis egestas nibh, eu tempus eros. Morbi quis pellentesque est. Ut pulvinar ante nunc, a suscipit erat feugiat eu. Sed placerat, justo ut interdum mollis, enim erat molestie sapien, et hendrerit enim dolor eu justo.
          </p>
        </div>
        <div id="tabs-9"">
          <h3>
          Seguimiento curricular
          </h3>
          <p>
          Phasellus vitae aliquet nibh, eget fermentum mi. Praesent porttitor feugiat quam, ut viverra nisi tristique at. Suspendisse pretium, neque quis lobortis pulvinar, tellus lacus blandit eros, a dapibus mi turpis sit amet eros. Vestibulum volutpat arcu et vehicula molestie. In blandit eros viverra lobortis luctus. Sed metus eros, aliquam interdum quam ac, finibus ullamcorper diam. Aliquam ac purus vel dui dictum malesuada sit amet tincidunt diam. Nam sit amet mi suscipit, viverra sem eleifend, viverra ligula. Donec nisi magna, laoreet eu posuere non, molestie ut dolor.
          <br><br>
          Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. Aenean mi ex, vehicula eget risus ut, pretium tristique sapien. Aenean vitae magna tempor, gravida urna in, placerat dui. Mauris a feugiat massa. Phasellus scelerisque feugiat euismod. Morbi ac dolor vehicula, elementum augue at, pharetra nunc. Phasellus quis egestas nibh, eu tempus eros. Morbi quis pellentesque est. Ut pulvinar ante nunc, a suscipit erat feugiat eu. Sed placerat, justo ut interdum mollis, enim erat molestie sapien, et hendrerit enim dolor eu justo.
          </p>
        </div>
        <div id="tabs-10">
          <h3>
          Obtención del grado
          </h3>
          <p>
          Phasellus vitae aliquet nibh, eget fermentum mi. Praesent porttitor feugiat quam, ut viverra nisi tristique at. Suspendisse pretium, neque quis lobortis pulvinar, tellus lacus blandit eros, a dapibus mi turpis sit amet eros. Vestibulum volutpat arcu et vehicula molestie. In blandit eros viverra lobortis luctus. Sed metus eros, aliquam interdum quam ac, finibus ullamcorper diam. Aliquam ac purus vel dui dictum malesuada sit amet tincidunt diam. Nam sit amet mi suscipit, viverra sem eleifend, viverra ligula. Donec nisi magna, laoreet eu posuere non, molestie ut dolor.
          <br><br>
          Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. Aenean mi ex, vehicula eget risus ut, pretium tristique sapien. Aenean vitae magna tempor, gravida urna in, placerat dui. Mauris a feugiat massa. Phasellus scelerisque feugiat euismod. Morbi ac dolor vehicula, elementum augue at, pharetra nunc. Phasellus quis egestas nibh, eu tempus eros. Morbi quis pellentesque est. Ut pulvinar ante nunc, a suscipit erat feugiat eu. Sed placerat, justo ut interdum mollis, enim erat molestie sapien, et hendrerit enim dolor eu justo.
          </p>
        </div>
        <div id="tabs-11">
          <h3>
            Obtención del título
          </h3>
          <p>
            Phasellus vitae aliquet nibh, eget fermentum mi. Praesent porttitor feugiat quam, ut viverra nisi tristique at. Suspendisse pretium, neque quis lobortis pulvinar, tellus lacus blandit eros, a dapibus mi turpis sit amet eros. Vestibulum volutpat arcu et vehicula molestie. In blandit eros viverra lobortis luctus. Sed metus eros, aliquam interdum quam ac, finibus ullamcorper diam. Aliquam ac purus vel dui dictum malesuada sit amet tincidunt diam. Nam sit amet mi suscipit, viverra sem eleifend, viverra ligula. Donec nisi magna, laoreet eu posuere non, molestie ut dolor.
            <br><br>
            Pellentesque lacus urna, efficitur id laoreet nec, vestibulum in lectus. Proin placerat auctor enim, in malesuada lectus. Aliquam vel leo suscipit, facilisis neque nec, eleifend quam. Nulla interdum eu diam vestibulum convallis. Aenean mi ex, vehicula eget risus ut, pretium tristique sapien. Aenean vitae magna tempor, gravida urna in, placerat dui. Mauris a feugiat massa. Phasellus scelerisque feugiat euismod. Morbi ac dolor vehicula, elementum augue at, pharetra nunc. Phasellus quis egestas nibh, eu tempus eros. Morbi quis pellentesque est. Ut pulvinar ante nunc, a suscipit erat feugiat eu. Sed placerat, justo ut interdum mollis, enim erat molestie sapien, et hendrerit enim dolor eu justo.
          </p>
        </div>
      </div>
    </div>  
  </div>
</div>

{% endblock %}
{% block jsfinal %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){

    var swiper = new Swiper('.swiper-containerFooter', {
      slidesPerView: 5,
      autoplay: {
        delay: 10000,
        disableOnInteraction: false,
      },
      breakpoints: {
        990: {
          slidesPerView: 4,
           autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },
        },
        820: {
          slidesPerView: 3,
        },
        600: {
          slidesPerView: 2,
        },
        440: {
          slidesPerView: 1,
        }
      }
    });

    $("#tabs").tabs();

    var altoScroll = 0

    $(window).scroll(function() {
      altoScroll = $(window).scrollTop();
      console.log(altoScroll)
      if (altoScroll > 60) {
        $('.menu-mobile-open').addClass('scrolling');
        $('.header-ctn').addClass('active');
      }else{
        $('.menu-mobile-open').removeClass('scrolling');
        $('.header-ctn').removeClass('active');
      };
      if (altoScroll > 300) {
        $('.header2').addClass('scrolling');
      }else{
        $('.header2').removeClass('scrolling');
      };
      if (altoScroll > 115) {
        $('.header').addClass('active');
      }else{
        $('.header').removeClass('active');
      };
    });

  });
</script>
{% endblock %}