.title-general
	font-family t-1
	font-size 17px
	color #898989
	text-align left
	margin-left .5%
	display inline-block
.title-general2
	font-family t-1
	font-size 17px
	color #898989
	text-align left
	margin-left .5%
	display inline-block
	
.gral-left
	width 50%
	display inline-block
	vertical-align top
	text-align left
	box-sizing border-box
	padding-left 0.5%
	line-height 1
	margin-bottom 8px
	h2
		margin-bottom 0
	
.gral-right
	width 50%
	display inline-block
	vertical-align top
	text-align right
	box-sizing border-box
	padding-right 1%
	position relative
	line-height 1
	margin-bottom 8px
	transition-all()
	&:before
		content "\e903"
		font-family icomoon
		position absolute
		top 1px
		right 7px
		margin auto
		font-size 16px
		transform rotate(270deg)
		color #898989
		transition-all()
		z-index 9
	a
		padding-right 20px
	&:hover
		transform translateX(-7px)
		&:before
			right -5px
		