.b1
  position relative
  height 90vh
  z-index 9
  .swiper-pagination-bullet
    background white
    border: 2px solid white;
    opacity 1
  .swiper-pagination-bullet-active
    background: #695e54;
    border: 2px solid white;
  .swiper-pagination
    left 30px
  .swiper-container 
    width: 100%;
    height: 100%;

  .swiper-slide 
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    &.uno
      background-position center center
      background-repeat no-repeat
      height 100%
      background-size cover
  .web-library
    position absolute
    left 0
    bottom 30px
    display inline-block
    z-index 99
    img
      img-res()

@media screen and (max-width 650px)
  .b1
    height 70vh
    .fff
      height 70vh !important
    .web-library
      width 110px
    

