.b10
	text-align center
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	.b4-left
		width 40%
	.b4-right
		width 60%
		text-align left
		font-size 16px
		h4
			font-size 34px
			font-family t-4
			color #333333
			text-transform inherit
			line-height 1.1
			margin-bottom 20px
	.b4-text
		max-width 580px
		margin-left 7%
		padding-right 5%
		.b10-nombre
			font-size 20px
			margin-bottom 0	px
			font-family t-0
			
		.b10-cargo
			font-size 16px
			font-family t-0

@media screen and (max-width 1080px)
	.b10
		.b4-left
			width 50%
		.b4-right
			width 50%
			h4
				font-size 28px
				line-height 1
		.b4-text
			margin-top 5%

@media screen and (max-width 660px)
	.b10
		flex-direction column-reverse
		.b4-left
			width 100%
		.b4-right
			width 100%
			h4
				font-size 22px
				margin-top 20px
		.b4-text
			margin-bottom 0
			margin-left 5%
			.b10-nombre
				font-size 18px
			.b10-cargo
				font-size 14px
				
			










