.b11
	text-align center
	background url(../media/investigaciones/web_library_bg.jpg) center center no-repeat
	background-size cover
	

.b11-box
	color white
	display inline-block
	padding 40px
	box-sizing border-box
	position relative
	&:before
		content ""
		position absolute
		left 0
		top 0
		width 2px
		height 75px
		background white
	&:after
		content ""
		position absolute
		left -7px
		top 75px
		width 15px
		height 15px
		border-radius 50%
		background white
	p
		font-family t-0
		font-size 57px
		display inline-block
		vertical-align middle
		margin-bottom 0
		text-align left
		margin-right 50px
		line-height 0
	strong
		font-family t-2
	br
		line-height .9
	a
		border 3px solid #fff
		display inline-block
		vertical-align middle
		padding 25px 40px
		font-size 25px
		border-radius 5px
		
@media screen and (max-width 700px)
	.b11-box
		p
			font-size 37px
		a
			font-size 15px
		
@media screen and (max-width 500px)
	.b11-box
		padding 40px 10px
		p
			display 
			margin-bottom 20px
			line-height 1
		br
			display none
		a
			display block

























