.b13
	text-align center

.b13-header
	font-size 0
	border-radius 8px
	li
		width 33.333%
		display inline-block
		vertical-align middle
		a
				display inline-block
				width 100%
				padding 25px 0px
				box-sizing border-box
				background #453c37
				color white
				font-size 20px
				border-right 1px solid gray
				position relative
				&:last-child
					border-right none
				 &:before
					content ""
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 15px 20px 0 20px;
					border-color: #453c37 transparent transparent transparent;
					position absolute
					bottom -15px
					left 0
					right 0
					margin auto
					
.b13-body
	padding 80px 0
	color #453c37
	text-align left
	h3
		font-size 34px
		font-family t-4
		margin-bottom 40px
	p
		font-size 18px
		font-family t-2
		
@media screen and (max-width: 600px)
	.b13-header
		li
			width 100%
			border-top 1px solid white
			a
				padding 15px 0
				font-size 16px
				&:before
					display none
				
	.b13-body
		padding 30px 0
		h3
			font-size 20px
			margin-bottom 20px
		p
			font-size 14px
			
.servicios-dace
	.b13
		font-size 0
	.b13-header
		width 30%
		display inline-block
		vertical-align top
		li
			display block
			width 100%
			&:hover, &.ui-state-active
				a
					&:after
						width 20px
						opacity 1
						visibility visible
		a
			background none
			text-align left
			background none
			color #282c56
			font-size 16px
			padding 0
			margin-bottom 10px
			font-family t-2
			&:before
				display none
			&:after
				content ""
				background #4952b8
				position absolute
				bottom -5px
				left 0
				width 0px
				height 3px
				opacity 0
				visibility hidden
				transition-all()
		h4
			font-family t-3
			margin-bottom 20px
			text-align left
			font-size 19px
			font-family t-3
			text-align left
			color #4952b8
				
	.b13-body
		width 70%
		display inline-block
		vertical-align top
		padding 0
		padding-bottom 50px
		h3
			font-family t-4
			margin-bottom 20px
			text-align left
			font-size 34px
			text-align left
			color #4952b8
		p
			font-size 16px
		
@media screen and (max-width 750px)
	.servicios-dace
		.b13-header
			width 100%
			column-count 4
			margin-bottom 20px
			li
				width 100%
			a
				padding 0 4px
				font-size 15px
		.b13-body
			width 100%
			display block
		
@media screen and (max-width 650px)
	.servicios-dace
		.b13-header
			column-count 3
		
@media screen and (max-width 500px)
	.servicios-dace
		.b13-header
			column-count 1