.b14
	background url(../media/postgrado/bg-postgrado.jpg) center center no-repeat
	height 85vh
	background-size cover
	display table-cell
	vertical-align bottom
	width 2000px
	color white
	font-size 0
	padding-bottom 40px
	box-sizing border-box
	text-align center
	h1
		display inline-block
		vertical-align middle
		font-size 57px
		width 32%
		margin 0 1%
		strong
			font-family t-1
	a
		text-transform uppercase
		border 2px solid white
		font-size 25px
		padding 30px 0
		box-sizing border-box
		width 30%
		display inline-block
		vertical-align middle
		text-align center
		margin 0 1.5%
		border-radius 7px
		transition-all()
		&:hover
				background black

@media screen and (max-width 1210px)
	.b14
		h1
			font-size 45px
		a
			font-size 17px
			padding 20px 0

@media screen and (max-width 960px)
	.b14
		h1
			font-size 35px
		a
			font-size 15px

@media screen and (max-width 767px)
	.b14
		height 76vh
		padding-bottom 20px
		h1
			margin auto
			margin-bottom 15px
			width 100%
		a
			margin 10px
			width 44%	

@media screen and (max-width 500px)
	.b14
		a
			width 90%	