.b15
	text-align center
	margin-bottom 50px
	
.b15-title
	margin-top 50px
	margin-bottom 30px
	color #333333
	font-size 34px
	font-family t-4
	margin-left 1%
	text-align left
	
.b15-items
	text-align left
	
.b15-item
	width 31%
	display inline-block
	vertical-align middle
	margin .8%
	background #453c37
	color white
	transition-all()
	overflow hidden
	img
		img-res()
		width 100%
		transition-all()
		transform scale(1)
	.b15-figcaption
		padding 15px
		p
			display block
			margin-bottom 5px
		strong
			display block
		span
			&:before
				transition-all()
				transform translateX(0)
				color white
				display inline-block
	&:hover
		img
			transform scale(1.05)
		span
			&:before
				transform translateX(25px)
				
@media screen and (max-width 600px)
	.b15-item
		width 47%	
				
@media screen and (max-width 400px)
	.b15-item
		width 100%
		margin .5% auto