.servicios-dace
	.b16
		background url(../media/dace/servicios/servicios-dace-bg.jpg) center center no-repeat
		background-size cover
		height 400px
		position relative
		color white
		.web-library-header
			display inline-block
			vertical-align top
			width 100px
		.headerFirst-unas
			vertical-align top
		.header-main
			position relative
			height 360px
			top 0
			margin 0
		.header-logoAzul
			position absolute
			top 20px
			right 20px
		.header-logo
			width 180px
			position absolute
			bottom 30px
		// &.active
		// 	position fixed
		// 	left 0
		// 	top 0
		// 	width 100%
		// 	z-index 9
		// 	height 120px
		// 	overflow hidden
		// 	background #282c56
		// 	.header-main
		// 		height auto
		// 	.headerFirst,
		// 	.header-logoAzul
		// 		display none
		// 	.header-logo
		// 		top 20px
		// 		bottom inherit
				

.servicios-dace
	.b16-menu
		text-align center
		background #282c56
		color white
		a
			display inline-block
			vertical-align middle
			border-right 1px solid white
			padding 12px 10px
			box-sizing border-box
			font-size 14px
			font-family t-4
			&:last-child
				border none
		.headerMenu
			width 100%
			text-align center
		
@media screen and (max-width 960px)
	.servicios-dace
		.b16-menu
			.headerMenu
				display block
		.b16
			height 400px
			background-image url(../media/dace/servicios/servicios-dace-bg.jpg)
	

.home-dace
	.b16
		background url(../media/dace/dace-bg.jpg) center center no-repeat