.b17
	font-size 0
	text-align center
	padding 50px 0
	
.b17-left
	width 50%
	display inline-block
	vertical-align top
	font-size 18px
	text-align left
	padding-right 20px
	box-sizing border-box
	h4
		font-size 34px
		font-family t-4
		color #4952b8
		margin-bottom 25px
	p
		font-size 18px
		font-family t-2
		color #282c56
		line-height 1.5
		margin-bottom 30px
	a
		color white
		padding 20px
		box-sizing border-box
		background #4952b8
		display inline-block
		border-radius 2px

.b17-right
	width 50%
	display inline-block
	vertical-align top
	position relative
	&:before
		content ""
		position absolute
		bottom 0
		left 0
		right 0
		margin auto
		width 370px
		height 370px
		background #4952b8
		border-radius 50%
		z-index -1
	img
		img-res()
	
@media screen and (max-width 960px)
	.b17-left
		width 100%
		padding 0
		margin-bottom 30px
		text-align center

	.b17-right
		width 100%
	
@media screen and (max-width 480px)
	.b17-right
		width 300px
		&:before
			width 305px
			height 305px