.b18
	font-size 0
	text-align center
	color black
	padding 60px 0

.b18-left,
.b18-right
	width 2000px
	height 40vh
	background #dcdcdc
	display table-cell
	vertical-align middle
	h2
		font-size 40px
		font-family t-0
	h3, h2
		width 280px
		margin auto
		text-align left		
	h3
		font-size 20px		

.b18-left
	border-right 6px solid white

.b18-right
	border-left 6px solid white
	
@media screen and (max-width 600px)
	.b18-left,
	.b18-right
		display block
		height 30vh
		width 100%
		border none
		margin-bottom 15px
		h3
			padding-top 10vh