.b2
	font-size 0
	display flex
	justify-content center
	margin-top 5px

.b2-left
	background #896251
	color white
	width 50%
	height 400px
	display flex
	align-items center
	justify-content flex-end
	padding-right 5%
	box-sizing border-box

.b2-left-box
	text-align left
	h4
		font-size 28px
		font-family t-0
		margin-bottom 20px
	a
		display block
		border 2px solid white
		font-size 25px
		padding 20px
		border-radius 5px
		margin-bottom 15px
		text-align center
		width 400px
		transition-all()
		&:hover
			color #896251
			border-color #896251
			background white
	
	

.b2-right
	background #dcdcdc
	color black
	width 50%
	height 400px
	display flex
	align-items center
	justify-content flex-start
	padding-left 5%
	box-sizing border-box

.b2-right-box
	text-align left
	width 100%
	margin-right 50px
	h4
		font-size 28px
		font-family t-0
		margin-bottom 20px
	a
		display block
		border 2px solid black
		font-size 25px
		padding 20px
		border-radius 5px
		margin-bottom 15px
		text-align center
		width 400px
		margin-left 50px
		transition-all()
		&:hover
			color #dcdcdc
			border-color #dcdcdc
			background black


@media screen and (max-width 1150px)
	.b2-left-box
		a
			width 250px
			margin-left 0
	.b2-right-box
		a
			width 250px
			margin-left 30px	


@media screen and (max-width 768px)
	.b2
		flex-direction column
		
	.b2-left
		width 100%
		justify-content space-around
		padding 30px 0
		height auto
	.b2-left-box
		h4
			font-size 22px
		a
			font-size 19px
	.b2-right
		width 100%
		justify-content space-around
		padding 30px 0
		height auto
	.b2-right-box
		width auto
		margin 0
		h4
			font-size 22px
		a
			margin-left 0
			font-size 19px
						









