.b3
	padding-bottom 10px
	padding-top 30px 
	background white
	overflow hidden

.b3-card
	box-sizing border-box
	text-align left
	color white
	
.b3-card-title
	background #00aa4a
	padding 60px 30px
	padding-right 20%
	color white
	position relative
	&:before
		content ""
		font-family icomoon
		position absolute
		font-size 7px
		top 0
		left 30px
		width 3px
		height 40px
		background white
	&:after
		content "\e902"
		font-family icomoon
		position absolute
		font-size 7px
		top 0
		bottom 0
		margin auto
		right 30px
		font-size 20px
		height 20px
	h4
		font-size 28px
		font-family t-4
		line-height 1.2
	p
		font-size 15px
		font-family t-2

.b3-card-description
	color black
	font-family t-2
	font-size 14px
	margin-top 30px
	padding-left 10%
	padding-right 3%
	letter-spacing 0.3px
	padding-bottom 20px
	position relative
	line-height 1.3
	&:before
		content "\e900"
		font-family icomoon
		position absolute
		font-size 7px
		top 6px
		left 10px

@media screen and (max-width 768px)
	.b3-card-title
		&:after
			right 20px





		