.b4
  display flex

.b4-left
  width 50%
  img
    img-res()
    width 100%

.b4-right
  width 50%
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  display flex
  align-items center
  background #f1f1f1

.b4-text
  margin-left 13%
  margin-top 20%
  h4
    font-size 60px
    font-family t-3
    text-transform uppercase
    color #00a94a
  p
    font-size 20px
    font-family t-2
    color #585858
    margin-bottom 40px
  a
    display inline-block
    padding 20px
    box-sizing border-box
    margin-bottom 20px
    background c-0
    color white
    width 280px
    text-align center
    font-size 20px
    border 1px solid transparent
    transition-all()
    &:hover
      border 1px solid #00aa4a
      color #00aa4a
      background #f1f1f1
      
    
@media screen and (max-width 1100px)
  .b4-text
    h4
      font-size 50px
    
@media screen and (max-width 960px)
  .b4-text
    margin-left 8%
    h4
      font-size 45px
    p
      font-size 18px
    a
      font-size 18px
      width 80%
    
@media screen and (max-width 768px)
  .b4-text
    h4
      font-size 35px
    p
      font-size 16px
    a
      font-size 16px
      width 80%
    
@media screen and (max-width 650px)
  .b4
    flex-direction column-reverse
  
  .b4-left,
  .b4-right
    width 100%
    text-align center
  
  .b4-text
    margin 60px auto
    margin-bottom 30px


.home-dace
  .b4
    height 420px
    margin-bottom 40px
  
  .b4-left
    .b4-figure
      background url(../media/estudiante.jpg) center center no-repeat
      height 100%
      background-size cover
  .b4-text
    margin-top 7%
    h4
      color #282c56
    a
      background #525abb















