.b41
	background url(../media/baquetaYclaqueta/b41-bg.jpg) center center no-repeat
	text-align right
	padding-top 70px
	padding-bottom 90px
	color #595759
	font-size 13px
	h4
		text-align left
		font-family t-1
		font-size 16px
		margin-bottom 20px
		color #595759
	.btn
		font-family t-17
		font-size 24px
		background #5515ff
		color white
		border none
		padding 5px 30px
		position absolute
		right 30px
		bottom -20px
		display inline-block
		position absolute
		&:after
			content ""
			position absolute
			top: -7px;
			height: 7px;
			width: 100%;
			left: -4px;
			background #001995
			transform: skewX(45deg);
		&:before
			content ""
			position absolute
			left -7px
			height 100%
			width 7px
			top -4px
			background #001995
			transform skewY(45deg)

.b41-btn-terminos 
	position absolute
	right: 10px
	top: -23px
	color: #00dfb9
	font-size 13px
	font-family t-17
	letter-spacing .1px

.b41-wrap
	width 630px
	background white
	margin auto
	margin-right 0
	padding 40px
	padding-top 50px
	padding-bottom 60px
	position relative
	
.b41-img
	position absolute
	left -150px
	top -30px
	
.b41-text
	text-align left
	width 300px
	margin auto
	font-size 14px
	margin-bottom 50px
	padding-left 20px

.b41-form
	text-align left
	hr
		margin 35px 0
		margin-top 15px
		margin-left -20px
		width 106%
	
.b41-input
	label,
	input
		display block
		width 100%
	label
		margin-bottom 7px
	input
		border-radius 8px
		height 44px
		border 1px solid #d7d6d6
		margin-bottom 20px
		padding-left 10px
		box-sizing border-box
	.spanf12
		font-size 12px
	
.b41-input2
	font-size 0
	.b41-input
		display inline-block
		vertical-align middle
		font-size 13px
		width 58%
		margin-right 2%
		&:last-child
			width 40%
			margin-right 0
		span
			font-size 11px
			color #ff007c
	&.contacto
		.b41-input
			width 49%
			margin-right 2%
			&:last-child
				margin-right 0
		
.b41-input3
	font-size 0
	.b41-input
		width 28%
		margin-right 2%
		display inline-block
		vertical-align top
		font-size 13px
		&:last-child
			margin-right 0
			position relative
			&:before
				position absolute
				content "\e903"
				font-family icomoon
				right 10px
				top 23px
				bottom 0
				margin auto
				height 13px
				font-size 16px
				pointer-events none
		select
			border-radius 8px
			height 44px
			border 1px solid #d7d6d6
			width 100%
			font-size 13px
			appearance none
			color #d7d6d6
			padding-left 10px
			box-sizing border-box
		
.b41-terminos
	font-size 11px
	input
		display none
	label
		padding-left 30px
		display block
		position relative
		&:before
			content ""
			position absolute
			width 20px
			height 20px
			left 0px
			top 0px
			border 1px solid #d7d6d6
			border-radius 20px
		&:after
			content ""
			position absolute
			left 7px
			top 7px
			width 8px
			height 8px
			border-radius 8px
			background #ff007c
			opacity 0
			
	input[type="checkbox"]:checked + label:after
		opacity 1

	input
		display none

.b41-lightbox
	background rgba(1, 1, 1, 0.5)
	position absolute
	top 0
	opacity 0
	visibility hidden
	transition: 1.1s ease-in;
	&.active
		opacity 1
		visibility visible

.b41-lightbox-container
	box-sizing border-box
	display table-cell
	vertical-align middle
	width 2000px
	height 100vh
	h4
		font-family t-17
		color #00dfb9
		font-size 33px
	p
		color #1a1a1a
		font-size 16px
	h3
		margin 25px 0
		margin-bottom 23px
		font-size 16px
		
.b41-lightbox-wrap
	width 740px
	margin auto
	background white
	padding 40px
	padding-bottom 20px
	

@keyframes animationIn {
	0%{
		transform: translateY(-3000px);
	}
	60%{
		transform: translateY(25px);
	}
	70%{
		transform: translateY(-10px);
	}
	90%{
		transform: translateY(5px);
	}
}
			
@keyframes animationOut {
	0%{
		transform: translateY(5px);
	}
	60%{
		transform: translateY(-10px);
	}
	75%{
		transform: translateY(25px);
	}
	100%{
		transform: translateY(-3000px);
	}
}