.b5
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	overflow hidden
	
.b5-left
	width 20%
	padding 35px 20px
	background #453c37
	color white
	position relative
	box-sizing border-box
	z-index 9
	h4
		font-size 34px
		font-family t-4
		position relative
		&:after
			content "\e902"
			font-family icomoon
			position absolute
			font-size 7px
			bottom -50px
			margin auto
			left 0
			font-size 20px
			height 20px
	.swiper-button-prev
		left: 30px;
		bottom: 20px;
		top: inherit;
		border: 1px solid white;
		padding: 30px;
		box-sizing: border-box;	
		background none
		&:before
			content "\e607"
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			font-family icomoon
			font-size 50px
			margin auto
			height 50px
			width 50px
	.swiper-button-next
		left: 91px;
		bottom: 20px;
		top: inherit;
		border: 1px solid white;
		padding: 30px;
		box-sizing: border-box;	
		background none
		&:before
			content "\e606"
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			font-family icomoon	
			font-size 50px
			margin auto
			height 50px
			width 50px

.b5-right
	width 80%

.b5-card
	border-right 1px solid black
	height 93%
	padding 30px 35px
	box-sizing border-box
	min-height 400px

.b5-card-title
	p
		font-family t-5
		font-size 24px
		text-align left
		color #746f6f
	h4
		font-family t-1
		font-size 24px
		color black
		text-align left
		margin-bottom 90px
		line-height 1.2
		letter-spacing 1px
	a
		border 1px solid black
		padding 20px
		display inline-block
		color #191919
		position absolute
		left 0
		right 0
		bottom 20px
		width 120px
		text-align center
		transition-all()
		&:hover
			background black
			color white
		
@media screen and (max-width 960px)
	.b5-left
		width 25%
	.b5-right
		width 75%
		
@media screen and (max-width 768px)
	.b5
		flex-direction column
		
	.b5-left
		width 100%
		h4
			&:after
				left 310px
				bottom 0
				top 0
				margin auto
			br
				display none
		.swiper-button-next
			left inherit
			right 30px
			bottom 0
			top 0
			margin auto	
		.swiper-button-prev
			left inherit
			right 91px
			bottom 0
			top 0
			margin auto	
		
	.b5-right
		width 100%
	
	.b5-card
		min-height 370px
		
@media screen and (max-width 550px)
	.b5-left
		h4
			font-size 25px
			margin-bottom 0
			br
				display block
			&:after
				left 130px
		.swiper-button-next
			padding 20px
			&:before
				font-size 40px
				height 40px
				width 40px
		.swiper-button-prev
			padding 20px
			right 71px
			&:before
				font-size 40px
				height 40px
				width 40px






















