.b7
	&.bg
		background url(../media/investigaciones/bg-investigacion.png) center center no-repeat
		background-size cover
		height 350px
		
@media screen and (max-width 650px)
	.b7
		&.bg
			height 250px