.b9
	color #333333
	padding-bottom 40px
	h2
		font-family t-4
		font-size 34px
		margin-bottom 40px
	p
		font-size 18px
		font-family t-2
		line-height 1.5
		padding-bottom 35px
		border-bottom 1px solid black
		margin-bottom 40px
	
.b9-menu
	&.b4-text
		margin 0
		text-align center
	
.b9 	
	.b9-menu-text
		display inline-block
		vertical-align middle
		border none
		margin 0
		padding 0
		margin-right 30px