.footer
	background #0b7539
	color white
	padding-top 30px
	position relative
		
.footer-logo
	display inline-block
	width 250px
	margin-left 30px
	&:before
		content ""
		background white
		height 2px
		width 25%
		position absolute
		top 110px
		left 0
	img
		img-res()

.footer-items
	font-size 0
	margin-top -10px
	padding-bottom 30px
	
.footer-item
	font-size 16px
	font-family t-2
	display inline-block
	vertical-align bottom
	width 29%
	&:nth-child(2)
		padding-left 20px
		box-sizing border-box
	p
		margin-bottom 10px

	&.botones
		width 13%
		a
			display block
			padding 20px
			box-sizing border-box
			border 1px solid white
			background #0b7539
			text-align center
			margin-bottom 15px
			font-family t-0
			transition-all()
			&:hover
				background white
				color #0b7539
			
.footer-logos
	background white
	padding 10px 0
	overflow hidden

.footer-copy
	text-align center
	font-family t-2
	font-size 15px
	background #042d16
	padding 15px
	p
		margin-bottom 0

@media screen and (max-width 960px)
	.footer-item
		width 50%
		margin-bottom 20px
		&.botones
			width 50%
			padding-left 20px
			box-sizing border-box
		br
			display none

@media screen and (max-width 600px)
	.footer
		text-align center
		
	.footer-logo
		margin auto
		&:before
			right 0
			margin auto
		
	.footer-item
		width 100%
	
		&:nth-child(1)
			margin-top 50px
		&.botones
			width 100%
			padding-left 0px

	.footer-items
		padding-bottom 0

.footer-dace
	.footer
		background #4952b8
		.botones
			a
				background #4952b8
	.footer-copy
		background #282c56
		

































