.header
	color white
	position fixed
	top 0
	left 0
	width 100%
	z-index 99
	transition-all()
	&:before
		content ""
		position absolute
		top 0
		left 0
		width 100%
		height 210px
		background linear-gradient(to top, rgba(10,10,10,0), rgba(0, 0, 0, 0.4))
		background-size cover
		z-index -1
	&.active
		background #0d7439
		&:before
			display none
		.headerFirst
			display none 
		.header-main
			margin-top 0
		.header-logo
			margin 10px 0
			img
				width 170px
				margin-left 0
			

.headerFirst
	font-size 0
	
.headerFirst-left
	width 50%
	font-size 12px
	font-family t-2
	display inline-block
	vertical-align middle
	a
		padding 10px
		padding-left 0
	
.headerFirst-right
	width 50%
	font-size 0
	font-family t-2
	display inline-block
	vertical-align middle
	text-align right
	p
		margin-bottom 0

.headerFirst-bolsa
	font-family t-4
	font-size 18px
	padding 7px 15px
	box-sizing border-box
	background c-0
	display inline-block
	vertical-align middle

.headerFirst-unas
	display inline-block
	vertical-align middle
	background #21180f
	padding 7px 10px
	span
		font-size 12px
		display inline-block
		vertical-align middle
		margin-right 4px
	a
		font-size 19px
		font-family t-3
		display inline-block
		vertical-align middle
		
.header-main
	font-size 0
	margin-top 20px

.header-logo
	display inline-block
	vertical-align middle
	width 30%
	transition-all()
	img
		img-res()
		transition-all()

.headerMenu
	display inline-block
	vertical-align middle
	width 70%
	font-size 14px
	font-family t-4
	text-align right

.headerMenu-link
	padding 15px 10px
	box-sizing border-box

.menu-overlay 
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	transition: all 0.45s ease;
	background black

.menu-overlay.active 
	z-index: 1000;
	opacity: 0.5;

.menu-mobile-close,
.menu-mobile-open 
	background-color: #cc5d40;
	color: #fff;
	cursor: pointer;
	font-size: 28px;
	position: fixed;
	right: 5px;
	text-align: center;
	top:10px;
	transition: all 0.45s ease;
	width: 32px;
	transform: rotate(0deg);
	opacity 0
	visibility hidden
	&:before
		color white

.menu-mobile-open 
	opacity: 1;
	z-index: 1004;
	background transparent
	right 0
	top 20px
	padding 13px

.menu-mobile-open.scrolling 
	opacity: 0.6;

.menu-mobile-open:hover 
	opacity: 1;

.menu-mobile-open.active 
	visibility: hidden;
	opacity: 0;
	z-index: 1000;

.menu-mobile-close 
	visibility: hidden;
	opacity: 0;
	z-index: 9999;
	color: white;
	background c-0
	right 0
	top 30px
	padding 13px
	&.active
		right 242px
		opacity 1
		visibility visible

.menu-mobile-close.active 
	visibility: visible;
	opacity: 1;

.menu-sidebar 
	width: 240px
	height: 100%;
	overflow: auto;
	position: inherit;
	top: 0
	right -240px
	background: #262626
	color white
	z-index: 9999;
	transition: left 0.45s ease;
	transition-all()
	display none

.menu-sidebar.active 
	right: 0;
	position absolute
	display block

@media screen and (max-width 960px)
	.header-main
		text-align left
	.headerMenu,
	.headerFirst
		display none
	
	.header-logo
		width 200px
	
	.menu-wrapper
		.headerFirst
			display block
		
		.headerFirst-left
			border-top 1px solid white
			width 100%
			a
				display block
				text-align center
		.headerFirst-right
			width 100%
			text-align center
		.headerMenu
			display block
			width 100%
		.headerMenu-link
			display block
			text-align center
		
	.menu-mobile-open
		opacity 1
		visibility visible
	

@media screen and (max-width 650px)
	.header
		text-align center
		padding-top 10px

	.headerFirst-left
		width 100%
		margin-bottom 10px
		
	.headerFirst-right
		width 100%
		text-align center
		
	.menu-mobile-open,
	.menu-mobile-close
		top 25px























