@charset "UTF-8";
/**
 * ConciseCSS v4.0.1
 * https://github.com/ConciseCSS/concise.css
 *
 * Copyright 2016 James Kolce, Keenan Payne and ConciseCSS Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

template,
[hidden] {
  display: none; }

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

:root {
  box-sizing: border-box;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: white;
  color: #444;
  font-size: 16;
  text-rendering: optimizeLegibility; }
  @media (min-width: 768px) {
    :root {
      font-size: 18px; } }

code,
kbd,
pre,
samp {
  font-family: "Consolas", monospace;
  font-size: 0.83333rem;
  background-color: #f5f5f5; }

code,
kbd {
  vertical-align: middle;
  display: inline-block;
  padding: 0 0.4em; }

pre {
  padding: 0.75rem 1em; }

kbd {
  background-color: transparent;
  outline: 1px solid #DCDCDC; }

hr {
  background-color: #DCDCDC;
  height: 1px;
  overflow: visible;
  border: 0; }

nav ol,
nav ul {
  list-style: none;
  padding-left: 0; }

dt {
  font-weight: bold; }

blockquote {
  padding: 0 1em; }
  blockquote cite,
  blockquote footer {
    color: #777;
    font-size: 83.33333%;
    margin-top: 0.75rem; }
    blockquote cite:before,
    blockquote footer:before {
      content: "— "; }

abbr {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  text-transform: uppercase; }
  abbr[title] {
    border-bottom: 1px solid #DCDCDC;
    cursor: help;
    text-decoration: none; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

mark {
  background-color: #ffff00;
  color: #000000; }

progress {
  vertical-align: baseline; }

small {
  font-size: 83.33333%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  font-size: 83.33333%; }

sub {
  bottom: -0.25em;
  -webkit-font-feature-settings: "subs" 1;
          font-feature-settings: "subs" 1; }

sup {
  top: -0.25em;
  -webkit-font-feature-settings: "sups" 1;
          font-feature-settings: "sups" 1; }

::-moz-selection {
  background-color: #EBE1D3;
  text-shadow: none; }

::selection {
  background-color: #EBE1D3;
  text-shadow: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

img {
  border-style: none; }

svg {
  fill: currentColor; }

svg:not(:root) {
  overflow: hidden; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #C65146;
  text-decoration: none;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms; }
  a:hover, a:focus {
    color: #7f2f27; }

a:hover {
  outline-width: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit; }

button, input[type="submit"],
input {
  overflow: visible; }

button, input[type="submit"],
select {
  text-transform: none; }

button, input[type="submit"],
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

::-moz-focus-inner {
  border-style: none;
  padding: 0; }

:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #DCDCDC;
  padding: 1.5rem 1em; }

legend {
  display: table;
  max-width: 100%;
  white-space: normal;
  padding: 0 0.5em; }

textarea {
  overflow: auto;
  resize: vertical;
  height: auto;
  padding: 0.375rem 0.5em; }

[type="checkbox"],
[type="radio"] {
  padding: 0; }

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

input[type="range"] {
  border: none;
  padding: 0;
  width: 100%;
  -webkit-appearance: none; }
  input[type="range"]:focus {
    outline: none; }
  input[type="range"]::-moz-range-track{
  background-color: #DCDCDC;
  border: none;
  height: 0.3rem; }
  input[type="range"]::-ms-track{
  background-color: #DCDCDC;
  border: none;
  height: 0.3rem; }
  input[type="range"]::-webkit-slider-runnable-track{
  background-color: #DCDCDC;
  border: none;
  height: 0.3rem; }
  input[type="range"]::-moz-range-thumb{
  border: none;
  border-radius: 50%;
  background-color: #C65146;
  height: 0.75rem;
  margin-top: -0.225rem;
  width: 0.75rem; }
  input[type="range"]::-ms-thumb{
  border: none;
  border-radius: 50%;
  background-color: #C65146;
  height: 0.75rem;
  margin-top: -0.225rem;
  width: 0.75rem; }
  input[type="range"]::-webkit-slider-thumb{
  border: none;
  border-radius: 50%;
  background-color: #C65146;
  height: 0.75rem;
  margin-top: -0.225rem;
  width: 0.75rem; }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; }

button, input[type="submit"] {
  background-color: #C65146;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.83333rem;
  line-height: 2.25rem;
  padding: 0 1.5em;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
  white-space: nowrap; }
  button:hover, input[type="submit"]:hover, button:focus, input[type="submit"]:focus {
    background-color: #cc6359;
    text-decoration: none;
    outline: none; }
  button:active, input[type="submit"]:active {
    background-color: #d2766d; }
  button[disabled], input[disabled][type="submit"] {
    background-color: #eee;
    cursor: not-allowed; }

[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

a,
area,
button,
input[type="submit"],
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

[hidden][aria-hidden="false"] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

[hidden][aria-hidden="false"]:focus {
  clip: auto; }

* {
  margin: 0; }

* + * {
  margin-top: 1.5rem; }

li,
kbd,
div,
input,
option,
select,
a,
textarea,
body,
span,
dd,
code,
label {
  margin-top: 0; }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0; }

h1 {
  font-size: 2.0736rem; }

h2 {
  font-size: 1.728rem; }

h3 {
  font-size: 1.44rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.83333rem; }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.3; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: inherit;
    vertical-align: 0;
    font-size: 83.33333%; }

h1, h2, h3 {
  margin: 0.75rem 0 0.375rem; }
  h1 a, h2 a, h3 a {
    color: inherit; }
    h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus {
      color: #C65146;
      text-decoration: none; }

h4, h5, h6 {
  margin: 0.375rem 0; }

ul,
ol {
  padding-left: 1em; }
  ul ol,
  ul ul,
  ol ol,
  ol ul {
    padding-left: 1.5em; }

ol {
  padding-left: 0;
  counter-reset: item; }
  ol li {
    list-style: none; }
  ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
    margin-right: 0.2em; }

input:not([type="submit"]),
select,
textarea {
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  width: 100%;
  font-size: 0.83333rem;
  min-height: 2.25rem; }
  input:not([type="submit"]):focus,
  select:focus,
  textarea:focus {
    border-color: #4eb1f9; }
  input:not([type="submit"])[disabled],
  select[disabled],
  textarea[disabled] {
    background-color: #eee;
    cursor: not-allowed;
    border: 0; }

input:not([type="submit"]):not([type="range"]),
select,
textarea {
  border: 1px solid #DCDCDC;
  padding: 0 0.75em; }

input[type="checkbox"],
input[type="file"],
input[type="image"],
input[type="radio"] {
  height: auto;
  width: auto; }

input[type="checkbox"],
input[type="radio"] {
  line-height: normal;
  padding: 0;
  vertical-align: middle; }

input[type="file"] {
  border: none;
  line-height: 1.5rem;
  padding: 0; }

select {
  background-color: transparent;
  padding-left: 0.5em;
  width: auto;
  min-width: 10em;
  height: 2.25rem; }
  select[disabled] {
    color: #777; }
  select[multiple] {
    height: auto;
    width: 100%;
    padding: 0; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }
  select option {
    padding: 0 0.75em; }

label {
  display: block;
  font-size: 0.83333rem;
  line-height: 2.25rem; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5em; }

table {
  width: 100%; }
  @media (min-width: 768px) {
    table {
      width: auto; } }
  table thead,
  table tfoot {
    background-color: #f5f5f5;
    text-align: left; }
  table th,
  table td {
    line-height: 2.25rem;
    overflow: visible;
    padding: 0 1em; }
  table caption {
    font-size: 0.83333rem;
    font-style: italic;
    line-height: 3rem;
    text-align: center; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-left: 4px;
  padding-right: 4px; }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 768px) {
    .grid {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 4px;
  padding-right: 4px; }

.grid.no-gutters {
  margin-left: 0;
  margin-right: 0; }
  .grid.no-gutters .column {
    padding-left: 0;
    padding-right: 0; }

.grid.no-collapse {
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }

.grid.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.grid.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.grid.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.grid.column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.grid.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.grid.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.grid.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.grid.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.grid.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.grid.top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.grid.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.grid.bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.grid.baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.grid.stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.columm.top {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.columm.center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }

.columm.bottom {
  -ms-flex-item-align: end;
      align-self: flex-end; }

/*@media (min-width: 768px) {
  .column.col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33333%;
            flex: 0 1 8.33333%;
    max-width: 8.33333%; }
  .column.col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66667%;
            flex: 0 1 16.66667%;
    max-width: 16.66667%; }
  .column.col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    max-width: 25%; }
  .column.col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
    max-width: 33.33333%; }
  .column.col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66667%;
            flex: 0 1 41.66667%;
    max-width: 41.66667%; }
  .column.col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%; }
  .column.col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33333%;
            flex: 0 1 58.33333%;
    max-width: 58.33333%; }
  .column.col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66667%;
            flex: 0 1 66.66667%;
    max-width: 66.66667%; }
  .column.col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    max-width: 75%; }
  .column.col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33333%;
            flex: 0 1 83.33333%;
    max-width: 83.33333%; }
  .column.col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66667%;
            flex: 0 1 91.66667%;
    max-width: 91.66667%; }
  .column.col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%; }
  .column.col-ml-lg-1 {
    margin-left: 8.33333%; }
  .column.col-ml-lg-2 {
    margin-left: 16.66667%; }
  .column.col-ml-lg-3 {
    margin-left: 25%; }
  .column.col-ml-lg-4 {
    margin-left: 33.33333%; }
  .column.col-ml-lg-5 {
    margin-left: 41.66667%; }
  .column.col-ml-lg-6 {
    margin-left: 50%; }
  .column.col-ml-lg-7 {
    margin-left: 58.33333%; }
  .column.col-ml-lg-8 {
    margin-left: 66.66667%; }
  .column.col-ml-lg-9 {
    margin-left: 75%; }
  .column.col-ml-lg-10 {
    margin-left: 83.33333%; }
  .column.col-ml-lg-11 {
    margin-left: 91.66667%; }
  .column.col-ml-lg-12 {
    margin-left: 100%; } }*/

@media (max-width: 480px) {
  .column.col-xs-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33333%;
            flex: 0 1 8.33333%;
    max-width: 8.33333%; }
  .column.col-xs-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66667%;
            flex: 0 1 16.66667%;
    max-width: 16.66667%; }
  .column.col-xs-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    max-width: 25%; }
  .column.col-xs-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
    max-width: 33.33333%; }
  .column.col-xs-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66667%;
            flex: 0 1 41.66667%;
    max-width: 41.66667%; }
  .column.col-xs-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%; }
  .column.col-xs-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33333%;
            flex: 0 1 58.33333%;
    max-width: 58.33333%; }
  .column.col-xs-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66667%;
            flex: 0 1 66.66667%;
    max-width: 66.66667%; }
  .column.col-xs-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    max-width: 75%; }
  .column.col-xs-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33333%;
            flex: 0 1 83.33333%;
    max-width: 83.33333%; }
  .column.col-xs-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66667%;
            flex: 0 1 91.66667%;
    max-width: 91.66667%; }
  .column.col-xs-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%; }
  .column.col-ml-xs-1 {
    margin-left: 8.33333%; }
  .column.col-ml-xs-2 {
    margin-left: 16.66667%; }
  .column.col-ml-xs-3 {
    margin-left: 25%; }
  .column.col-ml-xs-4 {
    margin-left: 33.33333%; }
  .column.col-ml-xs-5 {
    margin-left: 41.66667%; }
  .column.col-ml-xs-6 {
    margin-left: 50%; }
  .column.col-ml-xs-7 {
    margin-left: 58.33333%; }
  .column.col-ml-xs-8 {
    margin-left: 66.66667%; }
  .column.col-ml-xs-9 {
    margin-left: 75%; }
  .column.col-ml-xs-10 {
    margin-left: 83.33333%; }
  .column.col-ml-xs-11 {
    margin-left: 91.66667%; }
  .column.col-ml-xs-12 {
    margin-left: 100%; } }

@media (min-width: 480px) {
  .column.col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33333%;
            flex: 0 1 8.33333%;
    max-width: 8.33333%; }
  .column.col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66667%;
            flex: 0 1 16.66667%;
    max-width: 16.66667%; }
  .column.col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    max-width: 25%; }
  .column.col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
    max-width: 33.33333%; }
  .column.col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66667%;
            flex: 0 1 41.66667%;
    max-width: 41.66667%; }
  .column.col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%; }
  .column.col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33333%;
            flex: 0 1 58.33333%;
    max-width: 58.33333%; }
  .column.col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66667%;
            flex: 0 1 66.66667%;
    max-width: 66.66667%; }
  .column.col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    max-width: 75%; }
  .column.col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33333%;
            flex: 0 1 83.33333%;
    max-width: 83.33333%; }
  .column.col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66667%;
            flex: 0 1 91.66667%;
    max-width: 91.66667%; }
  .column.col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%; }
  .column.col-ml-sm-1 {
    margin-left: 8.33333%; }
  .column.col-ml-sm-2 {
    margin-left: 16.66667%; }
  .column.col-ml-sm-3 {
    margin-left: 25%; }
  .column.col-ml-sm-4 {
    margin-left: 33.33333%; }
  .column.col-ml-sm-5 {
    margin-left: 41.66667%; }
  .column.col-ml-sm-6 {
    margin-left: 50%; }
  .column.col-ml-sm-7 {
    margin-left: 58.33333%; }
  .column.col-ml-sm-8 {
    margin-left: 66.66667%; }
  .column.col-ml-sm-9 {
    margin-left: 75%; }
  .column.col-ml-sm-10 {
    margin-left: 83.33333%; }
  .column.col-ml-sm-11 {
    margin-left: 91.66667%; }
  .column.col-ml-sm-12 {
    margin-left: 100%; } }

@media (min-width: 768px) {
  .column.col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33333%;
            flex: 0 1 8.33333%;
    max-width: 8.33333%; }
  .column.col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66667%;
            flex: 0 1 16.66667%;
    max-width: 16.66667%; }
  .column.col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    max-width: 25%; }
  .column.col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
    max-width: 33.33333%; }
  .column.col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66667%;
            flex: 0 1 41.66667%;
    max-width: 41.66667%; }
  .column.col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%; }
  .column.col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33333%;
            flex: 0 1 58.33333%;
    max-width: 58.33333%; }
  .column.col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66667%;
            flex: 0 1 66.66667%;
    max-width: 66.66667%; }
  .column.col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    max-width: 75%; }
  .column.col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33333%;
            flex: 0 1 83.33333%;
    max-width: 83.33333%; }
  .column.col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66667%;
            flex: 0 1 91.66667%;
    max-width: 91.66667%; }
  .column.col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%; }
  .column.col-ml-md-1 {
    margin-left: 8.33333%; }
  .column.col-ml-md-2 {
    margin-left: 16.66667%; }
  .column.col-ml-md-3 {
    margin-left: 25%; }
  .column.col-ml-md-4 {
    margin-left: 33.33333%; }
  .column.col-ml-md-5 {
    margin-left: 41.66667%; }
  .column.col-ml-md-6 {
    margin-left: 50%; }
  .column.col-ml-md-7 {
    margin-left: 58.33333%; }
  .column.col-ml-md-8 {
    margin-left: 66.66667%; }
  .column.col-ml-md-9 {
    margin-left: 75%; }
  .column.col-ml-md-10 {
    margin-left: 83.33333%; }
  .column.col-ml-md-11 {
    margin-left: 91.66667%; }
  .column.col-ml-md-12 {
    margin-left: 100%; } }

@media (min-width: 960px) {
  .column.col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33333%;
            flex: 0 1 8.33333%;
    max-width: 8.33333%; }
  .column.col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66667%;
            flex: 0 1 16.66667%;
    max-width: 16.66667%; }
  .column.col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    max-width: 25%; }
  .column.col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
    max-width: 33.33333%; }
  .column.col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66667%;
            flex: 0 1 41.66667%;
    max-width: 41.66667%; }
  .column.col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%; }
  .column.col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33333%;
            flex: 0 1 58.33333%;
    max-width: 58.33333%; }
  .column.col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66667%;
            flex: 0 1 66.66667%;
    max-width: 66.66667%; }
  .column.col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    max-width: 75%; }
  .column.col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33333%;
            flex: 0 1 83.33333%;
    max-width: 83.33333%; }
  .column.col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66667%;
            flex: 0 1 91.66667%;
    max-width: 91.66667%; }
  .column.col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%; }
  .column.col-ml-lg-1 {
    margin-left: 8.33333%; }
  .column.col-ml-lg-2 {
    margin-left: 16.66667%; }
  .column.col-ml-lg-3 {
    margin-left: 25%; }
  .column.col-ml-lg-4 {
    margin-left: 33.33333%; }
  .column.col-ml-lg-5 {
    margin-left: 41.66667%; }
  .column.col-ml-lg-6 {
    margin-left: 50%; }
  .column.col-ml-lg-7 {
    margin-left: 58.33333%; }
  .column.col-ml-lg-8 {
    margin-left: 66.66667%; }
  .column.col-ml-lg-9 {
    margin-left: 75%; }
  .column.col-ml-lg-10 {
    margin-left: 83.33333%; }
  .column.col-ml-lg-11 {
    margin-left: 91.66667%; }
  .column.col-ml-lg-12 {
    margin-left: 100%; } }

@media (min-width: 1100px) {
  .column.col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33333%;
            flex: 0 1 8.33333%;
    max-width: 8.33333%; }
  .column.col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66667%;
            flex: 0 1 16.66667%;
    max-width: 16.66667%; }
  .column.col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    max-width: 25%; }
  .column.col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
    max-width: 33.33333%; }
  .column.col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66667%;
            flex: 0 1 41.66667%;
    max-width: 41.66667%; }
  .column.col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%; }
  .column.col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33333%;
            flex: 0 1 58.33333%;
    max-width: 58.33333%; }
  .column.col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66667%;
            flex: 0 1 66.66667%;
    max-width: 66.66667%; }
  .column.col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    max-width: 75%; }
  .column.col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33333%;
            flex: 0 1 83.33333%;
    max-width: 83.33333%; }
  .column.col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66667%;
            flex: 0 1 91.66667%;
    max-width: 91.66667%; }
  .column.col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%; }
  .column.col-ml-xl-1 {
    margin-left: 8.33333%; }
  .column.col-ml-xl-2 {
    margin-left: 16.66667%; }
  .column.col-ml-xl-3 {
    margin-left: 25%; }
  .column.col-ml-xl-4 {
    margin-left: 33.33333%; }
  .column.col-ml-xl-5 {
    margin-left: 41.66667%; }
  .column.col-ml-xl-6 {
    margin-left: 50%; }
  .column.col-ml-xl-7 {
    margin-left: 58.33333%; }
  .column.col-ml-xl-8 {
    margin-left: 66.66667%; }
  .column.col-ml-xl-9 {
    margin-left: 75%; }
  .column.col-ml-xl-10 {
    margin-left: 83.33333%; }
  .column.col-ml-xl-11 {
    margin-left: 91.66667%; }
  .column.col-ml-xl-12 {
    margin-left: 100%; } }

@media print {
  @page {
    margin: 2cm; }
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: black !important;
    -webkit-filter: none !important;
            filter: none !important;
    text-shadow: none !important; }
  :root {
    background-color: white;
    color: black;
    font: 12pt/1.4 "Georgia", "Times New Roman", "Times", serif; }
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important; }
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    font-family: "Georgia", "Times New Roman", "Times", serif; }
  h1 {
    font-size: 19pt; }
  h2 {
    font-size: 17pt; }
  h3 {
    font-size: 15pt; }
  h4, h5, h6 {
    font-size: 14pt; }
  img {
    max-width: 100% !important;
    page-break-after: avoid;
    page-break-inside: avoid; }
  video,
  audio,
  object,
  embed,
  nav,
  footer,
  a[href^="#"]:after {
    display: none;
    visibility: hidden; }
  p,
  h2, h3 {
    orphans: 3;
    widows: 3; }
  a,
  a:visited {
    color: black;
    font-size: .57em;
    text-decoration: underline;
    word-wrap: break-word; }
    a[href]:after,
    a:visited[href]:after {
      content: " (" attr(href) ")";
      font-size: smaller; }
  q:after {
    content: " (Source: " attr(cite) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre,
  code {
    background-color: transparent;
    border: 1px solid #DCDCDC;
    page-break-inside: avoid; }
  blockquote {
    border: none;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  ol {
    padding-left: 1.25em; }
  ul {
    padding-left: 0;
    list-style: none; }
    ul ul,
    ul ul ul {
      padding-left: 1.5em; }
  ul li,
  ol li {
    content: "&raquo; "; } }
