@font-face {
    font-family: 'Cinzel-Regular';
    src: url('../fonts/Cinzel-Regular.eot');
    src: local('☺'), 
    url('../fonts/Cinzel-Regular.woff') format('woff'), 
    url('../fonts/Cinzel-Regular.ttf') format('truetype'), 
    url('../fonts/Cinzel-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel-Bold';
    src: url('../fonts/Cinzel-Bold.eot');
    src: local('☺'), 
        url('../fonts/Cinzel-Bold.woff') format('woff'), 
        url('../fonts/Cinzel-Bold.ttf') format('truetype'), 
        url('../fonts/Cinzel-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../fonts/WorkSans-Regular.eot');
    src: local('☺'), 
        url('../fonts/WorkSans-Regular.woff') format('woff'),
        url('../fonts/WorkSans-Regular.ttf') format('truetype'), 
        url('../fonts/WorkSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-Bold';
    src: url('../fonts/WorkSans-Bold.eot');
    src: local('☺'), 
        url('../fonts/WorkSans-Bold.woff') format('woff'), 
        url('../fonts/WorkSans-Bold.ttf') format('truetype'), 
        url('../fonts/WorkSans-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-Medium';
    src: url('../fonts/WorkSans-Medium.eot');
    src: local('☺'), 
        url('../fonts/WorkSans-Medium.woff') format('woff'), 
        url('../fonts/WorkSans-Medium.ttf') format('truetype'), 
        url('../fonts/WorkSans-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('../fonts/WorkSans-SemiBold.eot');
    src: local('☺'), 
        url('../fonts/WorkSans-SemiBold.woff') format('woff'), 
        url('../fonts/WorkSans-SemiBold.ttf') format('truetype'), 
        url('../fonts/WorkSans-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}