@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dxhqui');
  src:  url('../fonts/icomoon.eot?dxhqui#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dxhqui') format('truetype'),
    url('../fonts/icomoon.woff?dxhqui') format('woff'),
    url('../fonts/icomoon.svg?dxhqui#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
  color: #5e5e5e;
}
.icon-flecha-3:before {
  content: "\e901";
  color: #5e5e5e;
}
.icon-flecha:before {
  content: "\e902";
  color: #5e5e5e;
}
.icon-sanguchito:before {
  content: "\e903";
  color: #5e5e5e;
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
